{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}

{% block title %}
    <title>{{ title }}</title>
    
{% endblock %}

{% block content %}
    <style>
        .text-big {
            font-size: 16px;
        }
    </style>
    <style>
        #videos {
            display: flex;
            flex-wrap: wrap;
        }
        video {
            width: 300px;
            height: 200px;
            margin: 10px;
        }
    </style>
    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
    <script>
        const ROOM_ID = "{{ room_name }}";
        const USER_ID = Math.random().toString(36).substring(2, 15);
    </script>
    <script src="{% static 'admin_templates/vendor/simplewebrtc/audio_conference.js' %}"></script>
    
        <!-- end: page -->
    </section>
    <!-- end: page -->

{% endblock %}