{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}
{#{% block custome_css %}#}
{##}
{##}
{##}
{#{% endblock %}#}
{% block custome_css %}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>#}
    {#    <link rel="stylesheet"#}
    {#          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>#}
    {#    <link rel="stylesheet"#}
    {#          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>#}
{% endblock %}

{% block custome_script %}
    {#        <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>#}
    {#        <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>#}
    {#        <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>#}
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col mb-3">
                        <h1>{% if object %}Редактирование события{% else %}Создание нового события{% endif %}</h1>
                        <label for="id_title">Название события</label>
                        {{ form.title }}
                        <label for="id_event_date">Дата проведения</label>
                        {{ form.event_date }}
                        <div class="col-lg-12 ck-content">
                            {% autoescape on %}
                                <label for="id_decoding">Расшифровка события</label>
                                {{ form.decoding | safe }}
                            {% endautoescape %}
                        </div>
                        <div class="col-lg-12 ck-content">
                            {% autoescape on %}
                                <label for="id_results">Итоги</label>
                                {{ form.results | safe }}
                            {% endautoescape %}
                        </div>
                        <label for="id_event_report">Отчет</label>
                        {{ form.event_report }}
                        <label for="id_event_media">Медиа</label>
                        {{ form.event_media }}
                        <label for="id_participants">Участники</label>
                        {{ form.participants }}
                    </div>
                </div>
            </div>
            <div class="row action-buttons">

                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="btn btn-outline-success btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> {% if object %}Сохранить{% else %}Создать{% endif %}
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'library_app:event_list' %}"
                       class="btn btn-outline-dark btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class='bx bx-log-out-circle text-4 me-2'></i> Закрыть </a>
                </div>
                {% if user.is_superuser and object %}
                    <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                        <a href="{% url 'library_app:event_delete' object.pk %}"
                           class="btn btn-outline-danger btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                            <i class="bx bx-trash text-4 me-2"></i> Удалить
                        </a>
                    </div>
                {% endif %}
            </div>
        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->

{% endblock %}