{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}

{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="
            {% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>

    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}
            "></script>

    <script>
        $(document).ready(function () {
            $('#acknowledgment-checkbox').change(function () {
                var contentTypeId = $('#content-type-id').val();
                var objectId = $(this).data('object-id');
                var csrfToken = $('#acknowledgment-form input[name="csrfmiddlewaretoken"]').val();

                var data = {
                    'content_type_id': contentTypeId,
                    'object_id': objectId,
                    'csrfmiddlewaretoken': csrfToken
                };

                var url = $(this).is(':checked') ? '{% url "hrdepartment_app:acknowledge_document" %}' : '{% url "hrdepartment_app:unacknowledge_document" %}';

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        if (response.success) {
                            showNotification(url);
                        } else {
                            alert('Error: ' + response.error);
                        }
                    },
                    error: function () {
                        alert('An error occurred while processing your request.');
                    }
                });
            });

            function showNotification(url) {
                var stack_bar_top = {
                    "dir1": "down",
                    "dir2": "right",
                    "push": "top",
                    "spacing1": 0,
                    "spacing2": 0
                };

                var notificationOptions = {
                    addclass: 'stack-bar-top',
                    stack: stack_bar_top,
                    width: "100%"
                };

                if (url.includes('acknowledge')) {
                    notificationOptions.title = 'Поздравляем!';
                    notificationOptions.text = 'Вы успешно подтвердили документ.';
                    notificationOptions.type = 'success';
                }
                if (url.includes('unacknowledge')) {
                    notificationOptions.title = 'Внимание!';
                    notificationOptions.text = 'Вы отменили подтверждение документа.';
                    notificationOptions.type = 'alert';
                }

                new PNotify(notificationOptions);
            }
        });
    </script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data"
              id="acknowledgment-form">
            {% csrf_token %}
            <input type="hidden" id="content-type-id" value="{{ object|content_type_id }}">
            <div class="toggle toggle-primary" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
                <div class="row">
                    <h3>{{ event.title }} от {{ event.event_date }}</h3>
                </div>
                {% if user.is_superuser %}
                    <section class="toggle">
                        <label>Расшифровка</label>
                        <div class="toggle-content">
                            <div class="col-lg-12 ck-content text-4">
                                {% autoescape off %}
                                    {{ event.decoding }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </section>
                {% endif %}
                <section class="toggle">
                    <label>Итоги</label>
                    <div class="toggle-content">
                        <div class="col-lg-12 ck-content text-4">
                            {% autoescape off %}
                                {{ event.results }}
                            {% endautoescape %}
                        </div>
                    </div>
                </section>
                <section class="toggle">
                    <label>Отчёт. Видео. Аудио.</label>
                    <div class="toggle-content">
                        {% if event.event_report %}
                            <p>Отчёт по встрече: <a href="{{ event.event_report.url }}?v={{ object.updated_at.timestamp }}">Скачать</a></p>
                        {% endif %}
                        {% if event.event_video %}
                            <p>Видео-файл: <a href="{{ event.event_video }}" target="_blank">Посмотреть</a></p>
                        {% endif %}
                        {% if event.event_media %}
                            <p>Аудио-файл:</p>
                            <audio controls="controls" crossorigin="anonymous" style="width:100%;"
                                   controlsList="nodownload">
                                <source src="{{ event.event_media.url }}?v={{ object.updated_at.timestamp }}" type="audio/mpeg">
                            </audio>
                        {% endif %}
                    </div>
                </section>
                <section class="toggle">
                    <label>Участники</label>
                    <div class="toggle-content">
                        <table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>ФИО</th>
                                <th>Должность</th>                                
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in event.participants.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.user_work_profile.job.get_title }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="toggle">
                    <label>Лист ознакомления</label>
                    <div class="toggle-content">
                        <div class="form-row">
                            <section class="card">
                                <header class="card-header">
                                    <div class="card-actions">
                                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                    </div>
                                    <h2 class="card-title">Список сотрудников</h2>
                                </header>
                                <div class="card-body">
                                    <table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>ФИО</th>
                                            <th>Должность</th>
                                            <th class="text-end">Дата и время ознакомления</th>
                                            <th class="text-end">Ознакомлен</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in list_agree %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.user.title }}</td>
                                                <td>{{ item.user.user_work_profile.job.get_title }}</td>
                                                <td class="text-end">{{ item.acknowledgment_date }}</td>
                                                <td class="text-end">Ознакомлен</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row action-buttons">
                <div class="col-12 col-md-auto">
                    <a href="{% url 'library_app:event_update' object.pk %}"
                       class="btn btn-outline-success btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class="bx bx-edit text-4 me-2"></i> Изменить</a>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'library_app:event_list' %}"
                       class="btn btn-outline-dark btn-px-4 py-3 d-flex
                       align-items-center font-weight-semibold line-height-1">
                        <i class='bx bx-window-close text-4 me-2'></i> Закрыть</a>
                </div>
                <div class="col-12 col-md-auto px-md-2 mt-3 mt-md-0">
                    <div class="switch switch-lg switch-success">
                        <input type="checkbox" id="acknowledgment-checkbox" data-object-id="{{ object.id }}"
                               data-plugin-ios-switch {% if agree %}checked{% endif %}>
                    </div>
                    <label for="acknowledgment-checkbox">Я ознакомился</label>
                </div>
                {% if user.is_superuser %}
                    <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                        <a href="{% url 'library_app:event_delete' object.pk %}"
                           class="btn btn-outline-danger btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                            <i class="bx bx-trash text-4 me-2"></i> Удалить </a>
                    </div>
                {% endif %}
            </div>
        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->
{% endblock %}