{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">

        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-body">
                        <div class="datatables-header-footer-wrapper">
                            <div class="datatable-header">
                                <div class="row align-items-center mb-3">
                                    {% if user.access_level.guide_access_add %}
                                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                            <a href="{% url 'library_app:documents_add' %}"
                                               class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+
                                                Добавить документ </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                                   style="min-width: 750px;">

                                <thead>
                                <tr>
                                    <th width="8%">Код в БД</th>
                                    <th width="20%">Тип документа</th>
                                    <th width="40%">Наименование документа</th>
                                    <th width="20%">Дата документа</th>
                                    <th width="12%">Актуальность</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in object_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'library_app:documents' item.pk %}"><strong>{{ item.pk }}</strong></a>
                                        </td>
                                        <td>
                                            <a href="{% url 'library_app:documents' item.pk %}"><strong>{{ item.type_of_document }}</strong></a>
                                        </td>
                                        <td>
                                            <a href="{% url 'library_app:documents' item.pk %}"><strong>{{ item.document_name }}</strong></a>
                                        </td>
                                        <td>
                                            {{item.document_date}}
                                        </td>
                                        <td>
                                            {% if item.actuality %}<i class='bx bx-check bx-md' style='color:#087902'  ></i>{% else %}<i class='bx bx-x bx-md' style='color:#f90202'  ></i>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr class="solid mt-5 opacity-4">
                            {% include 'library_app/paginator.html' %}
                            <div class="datatable-footer">
                                <div class="row align-items-center justify-content-between mt-3">
                                    <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                        <div class="d-flex align-items-stretch">
{#                                            ToDo: Тут можно в подвал что то вывести #}
                                        </div>
                                    </div>
                                    <div class="col-lg-auto text-center order-3 order-lg-2">
                                        <div class="results-info-wrapper"></div>
                                    </div>
                                    <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                        <div class="pagination-wrapper"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
{% endblock %}

{% block SpecificPageVendor %}
    <script src="{% static 'admin_templates/vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/datatables/media/js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock %}