{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="
            {% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>

    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}
            "></script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <section class="card card-modern card-big-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2-5 col-xl-1-5">
                                    <i class="card-big-info-icon bx bxs-buildings"></i>
                                    <h4 class="card-big-info-desc">Наименование документа:</h4>
                                    <p class="card-big-info-desc">{{ object.title }}</p>
                                </div>
                                <div class="col-lg-3-5 col-xl-4-5">
                                    <div class="form-row">
                                        <div class="form-group col mb-3">
                                            <div class="row text">
                                                {% if user|has_group:"Бланки" %}
                                                <div class="col-sm-12 text-black-50 mt-2 pb-4">
                                                    <label for="id_draft">Файл бланка: </label>
                                                    {% if object.draft %}
                                                        <span id="id_draft"><a href="{{ object.draft.url }}"
                                                                               target="_blank"><img
                                                                src="{% static 'Extension/docx.png' %}"></a></span>
                                                    {% endif %}
                                                </div>
                                                <hr>
                                                {% endif %}
                                                <div class="col-sm-12 text-black-50 mt-2 pb-4">
                                                    <label for="id_scan">Скан бланка: </label>
                                                    {% if object.scan %}
                                                        <span id="id_scan"><a
                                                                href="{{ object.scan.url }}" target="_blank"><img
                                                                src="{% static 'Extension/pdf.png' %}"></a></span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-12 text-black-50 mt-2 pb-4">
                                                    <label for="id_scan">Образец заполнения: </label>
                                                    {% if object.sample %}
                                                        <span id="id_scan"><a
                                                                href="{{ object.sample.url }}" target="_blank"><img
                                                                src="{% static 'Extension/pdf.png' %}"></a></span>
                                                    {% endif %}
                                                </div>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row action-buttons">

                <div class="col-12 col-md-auto">
                    <a href="{% url 'library_app:blank_update' object.pk %}"
                       class="primary-button btn btn-primary btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Изменить</a>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'library_app:blank_list' %}"
                       class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Закрыть</a>
                </div>
                {% if user.is_superuser %}
                    <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                        <a href="#"
                           class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                            <i class="bx bx-trash text-4 me-2"></i> Удалить </a>
                    </div>
                {% endif %}
            </div>
        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->

{% endblock %}