{% load static %}
{% load custom %}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Главное меню
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed"
             data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    {% if user.is_superuser %}
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class='bx bx-shield-quarter' aria-hidden="true"></i>
                                <span>Настройки</span>
                            </a>
                            <ul class="nav nav-children">
                                <li>
                                    <a class="nav-link" href="{% url 'administration_app:property_list' %}">
                                        Настройки портала
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="{% url 'hrdepartment_app:bptrip_list' %}">
                                        Настройки бизнес процессов
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="{% url 'customers_app:group_list' %}">
                                        Группы
                                    </a>
                                </li>
{#                                <li>#}
{#                                    <a class="nav-link" href="{% url 'customers_app:affiliation-list' %}">#}
{#                                        Принадлежность#}
{#                                    </a>#}
{#                                </li>#}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class='bx bxs-report' aria-hidden="true"></i>
                            <span>Отчеты</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="nav-parent">
                                <a class="nav-link" href="#">
                                    <span>Учет рабочего времени</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:reportcard_list' %}">
                                            Журнал разъездов
                                        </a>
                                    </li>
                                    {% if user|has_group:"Журнал разъездов" %}
                                        <li>
                                            <a class="nav-link"
                                               href="{% url 'hrdepartment_app:reportcard_listmanual' %}">
                                                Список разъездов
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <li>
                                            <a class="nav-link"
                                               href="{% url 'hrdepartment_app:reportcard_listadmin' %}">
                                                Список разъездов (admin)
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if user|has_group:"Отчеты РВ" %}
                                        <li>
                                            <a class="nav-link" href="{% url 'hrdepartment_app:reportcard_detail' %}">
                                                Табель РВ
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link"
                                               href="{% url 'hrdepartment_app:reportcard_detail_fact' %}">
                                                Табель РВ (факт)
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a class="nav-link" href="#">
                                    <span>Служебные поездки</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:bpmemo_month_report' %}">
                                            Служебные поездки (контроль)
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:bpmemo_report' %}">
                                            Отчет по сотрудникам
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-book-content" aria-hidden="true"></i>
                            <span>Справочники</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{% url 'customers_app:staff_list' %}">
                                    Физические лица
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'customers_app:jobs_list' %}">
                                    Должности
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'customers_app:harmfuls_list' %}">
                                    Вредные условия труда
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'contracts_app:typedocuments_list' %}">
                                    Типы документов
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'contracts_app:typecontracts_list' %}">
                                    Типы договоров
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'contracts_app:typepropertys_list' %}">
                                    Типы имущества
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'contracts_app:estate_list' %}">
                                    Имущество
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'customers_app:divisions_list' %}">
                                    Подразделения
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'customers_app:counteragent_list' %}">
                                    Контрагенты
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'hrdepartment_app:purpose_list' %}">
                                    Цели служебной поездки
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'hrdepartment_app:medicalorg_list' %}">
                                    Медицинские организации
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'hrdepartment_app:place_list' %}">
                                    Места назначения
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class='bx bxs-book-content' aria-hidden="true"></i>
                            <span>Договора</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{% url 'contracts_app:index' %}">
                                    Общий список договоров
                                </a>
                            </li>
                            {#                            <li>#}
                            {#                                <a class="nav-link" href="{% url 'contracts_app:search' %}">#}
                            {#                                    Поиск договоров#}
                            {#                                </a>#}
                            {#                            </li>#}
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class='bx bx-task' aria-hidden="true"></i>
                            <span>ЭДО</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="nav-parent">
                                <a class="nav-link" href="#">
                                    <span>Договора</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a class="nav-link" href="#">
                                            Бланк согласования <br>
                                            договора
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Бизнес-процесс по <br>
                                            договорам
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-children">
                            <li class="nav-parent">
                                <a class="nav-link" href="#">
                                    <span>Логистика</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a class="nav-link" href="{% url 'logistics_app:logistics_list' %}">
                                            Транспортная накладная
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Отчеты
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-children">
                            <li class="nav-parent">
                                <a class="nav-link" href="#">
                                    <span>Служебные задания</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:memo_list' %}">
                                            Служебная записка <br>
                                            на служебную поездку
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:bpmemo_list' %}">
                                            Бизнес-процесс по <br>
                                            Служебным запискам
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{% url 'hrdepartment_app:team_list' %}">
                                    <span>Старшие бригад</span>
                                </a>                                
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-briefcase-alt-2" aria-hidden="true"></i>
                            <span>Документация</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{% url 'library_app:blank_list' %}">
                                    Бланки документов
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'hrdepartment_app:medical_list' %}">
                                    Медицинские направления
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'hrdepartment_app:guidance_documents_list' %}">
                                    Руководящие документы
                                </a>
                            </li>
                            <li class="nav-parent">
                                <a class="nav-link" href="#">
                                    Локально-нормативные акты
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:jobdescription_list' %}">
                                            Должностные инструкции
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:provisions_list' %}">
                                            Положения
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'hrdepartment_app:order_list' %}">
                                            Приказы
                                        </a>
                                    </li>

                                    {#                                    <li>#}
                                    {#                                        <a class="nav-link" href="{% url 'hrdepartment_app:reportcard_list' %}">#}
                                    {#                                            Табель рабочего времени (список)#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" href="#">
                                    Входящие документы
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">
                                    Исходящие документы
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'library_app:help_list' %}">
                            <i class='bx bxs-help-circle' aria-hidden="true"></i>
                            <span>Справка</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <hr class="separator"/>
            <div class="sidebar-widget widget-tasks">
                <div class="widget-header">
                    <h6>Наши проекты</h6>
                    <div class="widget-toggle">+</div>
                </div>
                <div class="widget-content">
                    <ul class="list-unstyled m-0">
                        <li><a href="https://barkol.ru/">Главный сайт</a></li>
                        <li><a href="http://lk.barkol.ru/pls/apex/f?p=506">Кабинет авиаспециалиста</a></li>
                    </ul>
                </div>
            </div>
            <hr class="separator"/>
            <div class="sidebar-widget widget-stats">
                <div class="widget-header">
                    <h6>СТАТИСТИКА КОМПАНИИ</h6>
                    <div class="widget-toggle">+</div>
                </div>
                <div class="widget-content">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="bx bx-book-bookmark"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h5 class="title">Всего договоров</h5>
                                    <div class="info">
                                        <strong class="amount">{{ contracts_count }}</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="{% url 'contracts_app:index' %}" class="text-uppercase">Открыть базу</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="card-body">
                        <div class="widget-summary">

                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h5 class="title">QR код</h5>
                                    <hr>
                                    <img src="{{ qrcode }}" alt="" width="50%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');
                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>
    </div>
</aside>