{% load custom %}
{% load static %}

<style>
    #wrapper {
        overflow: auto;
        height: 320px;
    }
</style>

<ul class="notifications">
    {% for notification in notifications %}
        <li>
            {% if notification.count != 0 %}
                <a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
                    <i class="{{ notification.icon_class }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ notification.title }}"></i>
                    <span class="badge">{{ notification.count }}</span>
                </a>
            {% endif %}
            <div class="dropdown-menu notification-menu {% if notification.large %}large{% endif %}">
                <div class="notification-title">
                    <span class="float-end badge badge-default">{{ notification.count }}</span>
                    {{ notification.title }}
                </div>
                <div class="content" id="wrapper">
                    <ul>
                        {% for item, color in notification.items %}
                                <li>
                                    <a href="{{ item|get_url:notification.url_name  }}" class="clearfix">
                                        <div class="m-xs" data-bs-toggle="tooltip" data-bs-placement="top"
                                             title=""
                                             data-bs-original-title="Создано: {{ item.date_of_creation| date:'d-m-Y' }}">
                                            <code style="font-size: small; color: {{ color }}">
                                                {{ item }}
                                            </code>
                                        </div>
                                    </a>
                                </li>
                        {% endfor %}
                    </ul>
                    <hr/>
                    <div class="text-end">
                        <a href="{% url notification.view_all_url %}" class="view-more">Просмотреть все</a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
