{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}

{% block title %}
    <title>{{ title }}</title>

{% endblock %}

{% block content %}
    <style>
        .text-big {
            font-size: 16px;
        }
    </style>
    <style>
        #videos {
            display: flex;
            flex-wrap: wrap;
        }

        video {
            width: 300px;
            height: 200px;
            margin: 10px;
        }
    </style>

    <!-- start: page -->
    <div id="videos"></div>
    <script>
        const ROOM_ID = "{{ room_name }}";
        const USER_ID = Math.random().toString(36).substring(2, 15);
    </script>
    <script src="{% static 'admin_templates/vendor/simplewebrtc/socket.io.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/simplewebrtc/simplepeer.min.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/simplewebrtc/video_conference.js' %}"></script>
    <!-- end: page -->
    <!-- end: page -->

{% endblock %}