{% extends 'customers_app/main.html' %}
{% load widget_tweaks %}

{% load static %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}


{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">

        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form action="{% url 'contracts_app:update' object.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}

                    {% for error in field.errors %}
                        {{ field.label }}: {{ error|escape }}
                    {% endfor %}

                {% endfor %}
            {% endif %}
            <div class="col-md-12">
                <div class="toggle toggle-primary toggle-lg" data-plugin-toggle>
                    <section class="toggle active">
                        <label>Основное</label>
                        <div class="toggle-content">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row text">
                                        <div class="col-md-6 col-sm-6 text-black-50">
                                            <label for="id_parent_category">Основной документ</label>
                                            {{ form.parent_category }}
                                        </div>
                                        <div class="col-md-6 col-sm-6 text-black-50">
                                            <label for="id_contract_counteragent">Контрагент</label>
                                            {{ form.contract_counteragent | attr:"onkeydown=contragent_change()"}}
                                        </div>
                                    </div>
                                    <div class="row text">
                                        <div class="col-md-4 col-sm-6 text">
                                            <label for="id_type_of_document">Тип документа</label>
                                            {{ form.type_of_document }}
                                        </div>
                                        <div class="col-md-4 col-sm-6 text-black-50">
                                            <label for="id_type_of_contract">Тип договора</label>
                                            {{ form.type_of_contract }}
                                        </div>
                                        <div class="col-md-4 col-sm-6 text-black-50">
                                            <label for="id_employee">Ответственные лица</label>
                                            {{ form.employee }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 text">
                                            <label for="id_contract_number">Номер договора</label>
                                            {{ form.contract_number }}
                                        </div>
                                        <div class="col-md-4 col-sm-6 date">
                                            <label for="id_date_conclusion">Дата заключения</label>
                                            {{ form.date_conclusion }}
                                        </div>
                                        <div class="col-md-4 col-sm-6 date">
                                            <label for="id_closing_date">Дата закрытия договора</label>
                                            {{ form.closing_date }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <code>{{ object.access }}</code>
                        </div>
                    </section>
                    <section class="toggle">
                        <label>Дополнительные данные</label>
                        <div class="toggle-content">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 text-black-50">
                                            <label for="id_divisions">Подразделение</label>
                                            {{ form.divisions }}

                                        </div>
                                        <div class="col-md-6 col-sm-6 text-black-50">
                                            <label for="id_type_property">Тип имущества</label>
                                            {{ form.type_property }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-md-6 text-black-50">
                                            <label for="id_subject_contract">Предмет договора</label>
                                            <textarea class="form-control form-control-modern" name="subject_contract"
                                                      rows="4"
                                                      id="id_subject_contract">{{ object.subject_contract }}</textarea>
                                        </div>
                                        <div class="col-md-6 text-black-50">
                                            <label for="id_comment">Примечание:</label>
                                            <textarea class="form-control form-control-modern" name="comment" rows="4"
                                                      id="id_comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 text-black-50">
                                            <label for="id_cost">Стоимость</label>
                                            {{ form.cost }}
                                        </div>
                                        <div class="col-md-3 col-sm-4 text-black-50">
                                            <label for="id_prolongation">Пролонгация</label>
                                            {{ form.prolongation }}
                                        </div>

                                        <div class="col-md-3 col-sm-4 text-black-50">
                                            <label for="id_access">Уровень доступа к документу:</label>
                                            {{ form.access }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 text-black-50">
                                            <div class="row checkbox-custom checkbox-default ib mt-4">
                                                <input type="checkbox" id="id_allowed_placed"
                                                       name="allowed_placed" class="todo-check"
                                                       {% if object.allowed_placed %}checked="checked"{% endif %}/>
                                                <label for="id_allowed_placed" class="todo-label">Разрешение на публикацию</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 text-black-50">
                                            <div class="row checkbox-custom checkbox-default ib mt-4">
                                                <input type="checkbox" id="id_allowed_placed"
                                                       name="allowed_placed" class="todo-check"
                                                       {% if object.allowed_placed %}checked="checked"{% endif %}/>
                                                <label for="id_allowed_placed" class="todo-label">Разрешение на публикацию</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <label for="id_doc_file">Файл документа: {{ object.official_information }}</label>
                                            <input type="file" name="doc_file" class="form-control mb-4"
                                                   id="id_doc_file" value="{{ object.official_information }}" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row action-buttons">
                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Сохранить
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'contracts_app:index' %}"
                       class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Отменить</a>
                </div>
                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                    <a href="#"
                       class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                        <i class="bx bx-trash text-4 me-2"></i> Удалить
                    </a>
                </div>
            </div>
        </form>
        <!-- end: page -->
    </section>
    <script type="text/javascript">
        function contragent_change() {
            contragent = document.getElementById("id_contract_counteragent").value;

            $.ajax({
                type: "GET",
                url: '{% url 'contracts_app:update' object.pk %}',
                data: {
                    "contragent": contragent,
                },
                dataType: "json",
                success: function (data) {
                    // any process in data
                    // var period_from = document.getElementById("id_period_from");
                    // var period_for = document.getElementById("id_period_for");
                    // period_from.removeAttribute("min")
                    // period_from.setAttribute("min", data)
                    // $("#id_period_from").trigger("create")
                    // period_for.removeAttribute("min")
                    // period_for.setAttribute("min", data)
                    // $("#id_period_for").trigger("create")
                    // var check_date = document.getElementById("id_check_date");
                    // var employee_divisions = document.getElementById("employee_divisions");
                    // $("label[for='employee_divisions']").text(data);
                    // employee_divisions.refresh;
                    if (data === 'ok') {
                        console.log("success");
                    }
                },
                failure: function (data) {
                    console.log("failure");
                }
            });
        };

        function memo_type_change() {
            employee = document.getElementById("id_person").value;
            memo_type = document.getElementById("id_official_memo_type").value;
            $.ajax({
                type: "GET",
                url: '{% url 'hrdepartment_app:memo_add' %}',
                data: {
                    "employee": employee,
                    "memo_type": memo_type,
                },
                dataType: "json",
                success: function (data) {
                    // any process in data
                    var employee_divisions = document.getElementById("employee_divisions");
                    $("label[for='employee_divisions']").text(data['employee']);
                    employee_divisions.refresh;
                    var document_extension = $("#id_document_extension");
                    document_extension.empty();
                    $.each(data['memo_type'], function (key, value) {
                        document_extension.append($("<option selected></option>")
                            .attr("value", value).text(key));
                    });
                    document_extension.removeAttr("disabled")
                    $('#id_document_extension').refresh;
                    if (data === 'ok') {
                        console.log("success");
                    }
                },
                failure: function (data) {
                    console.log("failure");
                }
            });
        };
    </script>
{% endblock %}