{% extends 'contracts_app/main.html' %}
{% block content %}
    <section role="main" class="content-body content-body-modern mt-0" xmlns="http://www.w3.org/1999/html">

        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <form class="order-details action-buttons-fixed" method="post">
            <div class="row">
                <div class="col-xl-4 mb-4 mb-xl-0">

                    <div class="card card-modern">
                        <div class="card-header">
                            <h2 class="card-title">Основное</h2>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="col text">
                                        <div class="text-black-50">
                                            <label for="contract_counteragent">Контрагент</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="contract_counteragent"
                                                   value="{{ object.contract_counteragent }}"
                                                   id="contract_counteragent"/>
                                        </div>
                                    </div>
                                    <div class="col text">
                                        <div class="text-black-50">
                                            <label for="type_of_contract">Тип договора</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="type_of_contract"
                                                   value="{{ object.type_of_contract }}" id="type_of_contract"/>
                                        </div>
                                        <label for="closing_date">Дата закрытия договора</label>
                                        <input type="text" class="form-control form-control-modern"
                                               name="closing_date"
                                               value="{{ object.closing_date }}" id="closing_date"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="date-time-field">
                                        <div class="text">
                                            <label for="contract_number">Номер договора</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="contract_number"
                                                   value="{{ object.contract_number }}" id="contract_number"/>
                                        </div>
                                        <div><span> &nbsp; </span></div>
                                        <div class="date">
                                            <label for="date_conclusion">Дата заключения</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="date_conclusion"
                                                   value="{{ object.date_conclusion }}" required data-plugin-datepicker
                                                   data-plugin-options='{"orientation": "bottom", "format": "yyyy-mm-dd"}'
                                                   id="date_conclusion"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <label>Ответственные лица</label>
                                    <select class="form-control form-control-modern" name="employee" required
                                            data-plugin-selectTwo multiple>
                                        {% for item in object.employee.iterator %}
                                            <option value="{{ item.pk }}" selected>{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-8">

                    <div class="card card-modern">
                        <div class="card-header">
                            <h2 class="card-title">Дополнительные данные</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-auto">
                                    <label for="divisions">Подразделение</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="divisions"
                                           value="{{ object.divisions }}" id="divisions"/>
                                    <label for="subject_contract">Предмет договора</label>
                                    <textarea class="form-control form-control-modern" name="subject_contract" rows="6"
                                              id="subject_contract">{{ object.subject_contract }}</textarea>

                                    <label for="cost">Стоимость</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="cost"
                                           value="{{ object.cost }}" id="cost"/>


                                </div>
                                <div class="col-xl-auto ps-xl-5">
                                    <label for="date_entry">Дата ввода информации</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="date_entry"
                                           value="{{ object.date_entry }}" id="date_entry"/>
                                    <label for="type_property">Тип имущества</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="type_property"
                                           value="{{ object.type_property }}" id="type_property"/>
                                    <label for="internal_number">Внутренний номер</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="internal_number"
                                           value="{{ object.internal_number }}" id="internal_number"/>
                                    <label for="prolongation">Пролонгация</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="prolongation"
                                           value="{{ object.prolongation }}" id="prolongation"/>
                                    <label for="access">Уровень доступа</label>
                                    <input type="text" class="form-control form-control-modern"
                                           name="access"
                                           value="{{ object.access }}" id="access"/>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="card card-modern">
                        <div class="card-header">
                            <h2 class="card-title">Дополнительные документы</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-ecommerce-simple table-ecommerce-simple-border-bottom table-borderless table-striped mb-0"
                                       style="min-width: 380px;">
                                    <thead>
                                    <tr>
                                        <th width="8%" class="ps-4">ID</th>
                                        <th width="65%">Name</th>
                                        <th width="5%" class="text-end">Cost</th>
                                        <th width="7%" class="text-end">Qty</th>
                                        <th width="5%" class="text-end">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="ps-4"><a href="ecommerce-products-form.html"><strong>191</strong></a>
                                        </td>
                                        <td><a href="ecommerce-products-form.html"><strong>Product Name Example</strong></a>
                                        </td>
                                        <td class="text-end">$99</td>
                                        <td class="text-end">1</td>
                                        <td class="text-end">$99</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="row justify-content-end flex-column flex-lg-row my-3">
                                <div class="col-auto me-5">
                                    <h3 class="font-weight-bold text-color-dark text-4 mb-3">Items Subtotal</h3>
                                    <span class="d-flex align-items-center">
													3 Items
													<i class="fas fa-chevron-right text-color-primary px-3"></i>
													<b class="text-color-dark text-xxs">$298.00</b>
												</span>
                                </div>
                                <div class="col-auto me-5">
                                    <h3 class="font-weight-bold text-color-dark text-4 mb-3">Shipping</h3>
                                    <span class="d-flex align-items-center">
													Flat Rate
													<i class="fas fa-chevron-right text-color-primary px-3"></i>
													<b class="text-color-dark text-xxs">$20.00</b>
												</span>
                                </div>
                                <div class="col-auto">
                                    <h3 class="font-weight-bold text-color-dark text-4 mb-3">Order Total</h3>
                                    <span class="d-flex align-items-center justify-content-lg-end">
													<strong class="text-color-dark text-5">$318.00</strong>
												</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="card card-modern">
                        <div class="card-header">
                            <h2 class="card-title">Заметки к договору</h2>
                        </div>
                        <div class="card-body">
                            <div class="ecommerce-timeline mb-3">
                                <div class="ecommerce-timeline-items-wrapper">
                                    <div class="ecommerce-timeline-item">
                                        <small>added on June 26, 2020 at 4:01 pm by admin - <a href="#"
                                                                                               class="text-color-danger">Delete
                                            note</a></small>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit
                                            augue at leo viverra, aliquam egestas lectus laoreet. Donec vehicula
                                            vestibulum ipsum, tincidunt ultrices elit suscipit ac. Sed eget risus
                                            laoreet, varius nibh id, luctus ligula. Nulla facilisi</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col pb-1 mb-3">
                                    <label>Добавление заметки</label>
                                    <textarea class="form-control form-control-modern" name="post_description"
                                              rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <a href="#"
                                       class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Добавить</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row action-buttons">
                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Изменить
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'contracts_app:index' %}"
                       class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Закрыть
                        документ</a>
                </div>
                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                    <a href="#"
                       class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                        <i class="bx bx-trash text-4 me-2"></i> Удалить договор
                    </a>
                </div>
            </div>
        </form>
        <!-- end: page -->
    </section>
{% endblock %}