{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/pdfjs/pdf.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0" xmlns="http://www.w3.org/1999/html">

        {#        {% include 'library_app/breadcrumb.html' %}#}

        <!-- start: page -->
        <div class="order-details action-buttons-fixed" method="post">

            <div class="col-md-12">
                <div class="toggle toggle-primary toggle-lg" data-plugin-toggle>
                    <section class="toggle">
                        <label>Файл</label>
                        <div class="toggle-content">
                            <div class="form-row">
                                {% if object.doc_file %}
                                    <a href="{{ object.doc_file.url }}" target="_blank">Открыть документ</a>
                                    <object data="{{ object.doc_file.url }}" type="application/pdf" width="750px"
                                            height="750px">
                                        <embed src="{{ object.doc_file.url }}" type="application/pdf">
                                        <p>Этот браузер не поддерживает PDF-файлы. Пожалуйста, загрузите PDF-файл, чтобы
                                            просмотреть его: <a
                                                    href="{{ object.doc_file.url }}">Скачать PDF.</a>.</p>
                                        </embed>
                                    </object>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                    <section class="toggle active">
                        <label>Основное </label>
                        <div class="toggle-content">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-sm-12 text-black-50">
                                            <label for="contract_counteragent">Контрагент</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="contract_counteragent" disabled
                                                   value="{{ object.contract_counteragent }}"
                                                   id="contract_counteragent"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 date">
                                            <label for="date_conclusion">Дата заключения</label>
                                            <input type="date" class="form-control form-control-modern"
                                                   name="date_conclusion"
                                                   value="{{ object.date_conclusion | date:"c" }}" disabled
                                                   id="date_conclusion"/>
                                        </div>
                                        <div class="col-lg-2 col-md-2 text">
                                            <label for="contract_number">Номер договора</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="contract_number" disabled
                                                   value="{{ object.contract_number }}"
                                                   id="contract_number"/>
                                        </div>
                                        <div class="col-md-2 text-black-50">
                                            <label for="cost">Стоимость</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="cost" disabled
                                                   value="{{ object.cost }}"
                                                   id="cost"/>
                                        </div>
                                        <div class="col-md-2 text-black-50">
                                            <label for="prolongation">Пролонгация</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="prolongation" disabled
                                                   value="{{ object.get_prolongation_display }}"
                                                   id="prolongation"/>
                                        </div>
                                        <div class="col-lg-2 col-md-2 date">
                                            <label for="closing_date">Дата закрытия договора</label>
                                            <input type="date" class="form-control form-control-modern"
                                                   name="closing_date"
                                                   value="{{ object.closing_date | date:"c" }}" disabled
                                                   id="closing_date"/>
                                        </div>
                                        <div class="col-md-3 text-black-50">
                                            <label for="id_type_of_document">Тип документа:</label>
                                            <input name="type_of_document" type="text"
                                                   class="form-control form-control-modern" disabled
                                                   value="{{ contract.type_of_document }}" id="id_type_of_document"/>
                                        </div>
                                        <div class="col-md-3 text-black-50">
                                            <label for="type_of_contract">Тип договора</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="type_of_contract" disabled
                                                   value="{{ object.type_of_contract }}" id="type_of_contract"/>
                                        </div>
                                        <div class="col-md-3 text-black-50">
                                            <label for="type_property">Тип имущества</label>
                                            <select class="form-control form-control-modern" id="type_property"
                                                    name="type_property" disabled
                                                    data-plugin-selectTwo multiple>
                                                {% if object.type_property %}
                                                    {% for item in object.type_property.values %}
                                                        <option value="{{ item.pk }}"
                                                                selected>{{ item.type_property }}</option>
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="1" selected>Отсутствуют</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 text-black-50">
                                            <label for="date_entry">Дата ввода информации</label>
                                            <input type="date" class="form-control form-control-modern"
                                                   name="date_entry"
                                                   value="{{ object.date_entry | date:"c" }}" id="date_entry" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-md-12 text-black-50">
                                            <label for="subject_contract">Предмет договора</label>
                                            <textarea class="form-control form-control-modern" name="subject_contract"
                                                      rows="4" disabled
                                                      id="subject_contract">{{ object.subject_contract }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-md-12 text-black-50">
                                            <label for="id_comment">Примечание:</label>
                                            <textarea class="form-control form-control-modern" name="comment" rows="4"
                                                      id="id_comment" disabled>{{ object.comment }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <code>{{ object.access }}</code>
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-sm-12 text-black-50">
                                            <label for="divisions">Подразделение</label>
                                            <select class="form-control form-control-modern" id="divisions"
                                                    name="divisions" disabled
                                                    data-plugin-selectTwo multiple>
                                                {% if object.divisions %}
                                                    {% for item in object.divisions.values %}
                                                        <option value="{{ item.pk }}" selected>{{ item.name }}</option>
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="1" selected>Отсутствуют</option>
                                                {% endif %}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row">
                                        <div class="col-sm-12 text-black-50">
                                            <label>Ответственные лица</label>
                                            <select class="form-control form-control-modern" name="employee" disabled
                                                    data-plugin-selectTwo multiple>
                                                {% for item in object.employee.iterator %}
                                                    <option value="{{ item.pk }}" selected title="{{ item.user_work_profile.job }} {{ item }}">{{ item | FIO_format }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="form-row">
                                    <div class="form-group col mb-3">
                                        <div class="row">
                                            <div class="col-md-3 text-black-50">
                                                <label for="official_information">Служебная информация</label>
                                                <input type="text" class="form-control form-control-modern"
                                                       name="official_information" disabled
                                                       value="{{ object.official_information }}"
                                                       id="official_information"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </section>

                    {% if slaves %}
                        <section class="toggle">
                            <label>Дополнительные документы</label>
                            <div class="toggle-content">
                                <div class="table-responsive">
                                    <table class="table table-ecommerce-simple table-ecommerce-simple-border-bottom table-borderless table-striped mb-0"
                                           style="min-width: 380px;">
                                        <thead>
                                        <tr>
                                            <th width="8%" class="ps-4">ID</th>
                                            <th width="15%">Тип документа</th>
                                            <th width="16%" class="text-end">Тип договора</th>
                                            <th width="15%" class="text-end">Номер документа</th>
                                            <th width="15%" class="text-end">Дата документа</th>
                                            <th width="16%" class="text-end">Исполнитель</th>
                                            <th width="5%" class="text-end">Статус</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in slaves %}
                                            <tr>
                                                <td class="ps-4"><a
                                                        href="{% url 'contracts_app:detail' item.pk %}"><strong>{{ item.pk }}</strong></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'contracts_app:detail' item.pk %}"><strong>{{ item.type_of_document }}</strong></a>
                                                </td>
                                                <td class="text-end">{{ item.type_of_contract }}</td>
                                                <td class="text-end">
                                                    {% if item.contract_number %}
                                                        {{ item.contract_number }}
                                                    {% else %}
                                                        (без номера)
                                                    {% endif %}
                                                </td>
                                                <td class="text-end">{{ item.date_conclusion }}</td>
                                                <td class="text-end">{{ item.executor | FIO_format }}</td>
                                                <td class="text-end">
                                                    {% if item.closing_date < now %}
                                                        Действующий
                                                    {% else %}
                                                        Закрыт
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    <section class="toggle">
                        <label>Заметки к договору</label>
                        <div class="toggle-content">
                            {% for item in posts %}
                                <div class="ecommerce-timeline mb-3">
                                    <div class="ecommerce-timeline-items-wrapper">
                                        <div class="ecommerce-timeline-item">
                                            <small>Добавлено: {{ item.creation_date }}.
                                                Автор: {{ item.responsible_person }}
                                            </small>
                                            <p>{% autoescape off %}
                                                {{ item.post_description }}
                                            {% endautoescape %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <form action="{% url 'contracts_app:post_add' object.pk %}" method="post">
                                {% csrf_token %}
                                <input name="contract_number" value="{{ object.pk }}" hidden>
                                <input name="responsible_person" value="{{ user.pk }}" hidden>
                                <div class="form-row">
                                    <div class="form-group col pb-1 mb-3">
                                        <h4>Добавление заметки</h4>
                                        <textarea class="form-control form-control-modern" name="post_description"
                                                  rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input type="submit"
                                               class="submit btn btn-success btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"
                                               value="Добавить"/>
                                        {#                                        ToDo: Решить вопрос с удалением записи.#}
                                        {#                                        <a class="btn btn-warning btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"#}
                                        {#                                           href="{% url 'contracts_app:post_list' pk=object.pk %}?cn={{ object.pk }}">Удалить записи</a>#}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row action-buttons">

                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'contracts_app:update' object.pk %}"
                       class="submit-button btn btn-primary btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class="bx bx-save text-4 me-2"></i> Изменить документ</a>
                </div>

                <div class="col-12 col-md-auto px-md-2 mt-3 mt-md-0">
                    <a href="{% url 'contracts_app:index' %}"
                       class="cancel-button btn btn-light btn-px-4 py-3 border
                       font-weight-semibold text-color-dark text-3">Закрыть документ</a>
                </div>
                {% if not_parent %}
                    <div class="col-12 col-md-auto px-md-2 mt-3 mt-md-0">
                        <a href="{% url 'contracts_app:create' %}?parent={{ object.pk }}"
                           class="cancel-button btn btn-light btn-px-4 py-3 border
                       font-weight-semibold text-color-dark text-3">Добавить документ</a>
                    </div>
                {% endif %}
                {% if user.is_superuser %}
                    <div class="col-12 col-md-auto px-md-2 mt-3 mt-md-0">
                        <a href="{% url 'contracts_app:index-admin' %}"
                           class="cancel-button btn btn-light btn-px-4 py-3 border
                           font-weight-semibold text-color-dark text-3">Закрыть документ - admin</a>
                    </div>
                    <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                        <a href="#"
                           class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                            <i class="bx bx-trash text-4 me-2"></i> Удалить договор
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- end: page -->
    </section>
{% endblock %}