<!doctype html>
{% load static %}
{% load custom %}
<html class="modern fixed has-top-menu has-left-sidebar-half">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <meta name="keywords" content="HTML5"/>
    <meta name="description" content="Responsive HTML5">
    <meta name="author" content="">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,800,900" rel="stylesheet"
          type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/animate/animate.compat.css' %}">
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/font-awesome/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/boxicons/css/boxicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/magnific-popup/magnific-popup.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/datatables/media/css/dataTables.bootstrap5.css' %}"/>
    {% block custome_css %}
    {% endblock %}
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/css/theme.css' %}"/>

    <!-- Theme Layout -->
    <link rel="stylesheet" href="{% static 'admin_templates/css/layouts/modern.css' %}"/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/css/skins/default.css' %}"/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/css/custom.css' %}">

    <!-- Head Libs -->
    <script src="{% static 'admin_templates/vendor/modernizr/modernizr.js' %}"></script>

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header header-nav-menu header-nav-links">
        <div class="logo-container">
            <a href="/admin/" class="logo">
                <img src="{% static 'admin_templates/img/logo.png' %}" class="logo-image" width="90" height="24"
                     alt=""/><img src="{% static 'admin_templates/img/logo.png' %}"
                                  class="logo-image-mobile" width="90" height="41" alt=""/>
            </a>
            <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                 data-fire-event="sidebar-left-opened">
                <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
            </div>

        </div>

        <!-- start: search & user box -->
        <div class="header-right">

            <a class="btn search-toggle d-none d-md-inline-block d-xl-none" data-toggle-class="active"
               data-target=".search"><i class="bx bx-search"></i></a>
            <form action="#" class="search search-style-1 nav-form d-none d-xl-inline-block">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Поиск...">
                    <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                </div>
            </form>

            <span class="separator"></span>

            {% include 'library_app/notifications.html' %}

            <span class="separator"></span>

            {% include 'library_app/user-dropdown-menu.html' %}

        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">
            <!-- Левое меню -->
            {% include 'library_app/left_menu.html' %}
        </aside>
        <!-- end: sidebar -->
        <!-- БЛОК КОНТЕНТА -->
        {% block content %}
        {% endblock %}
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <!-- Правое меню -->
        {% include 'library_app/right_menu.html' %}
    </aside>

</section>

<!-- Vendor -->
<script src="{% static 'admin_templates/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin_templates/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'admin_templates/vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'admin_templates/vendor/common/common.js' %}"></script>
<script src="{% static 'admin_templates/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'admin_templates/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'admin_templates/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Specific Page Vendor -->
<script src="{% static 'admin_templates/vendor/autosize/autosize.js' %}"></script>

{% block custome_script %}
{% endblock %}

<!-- Theme Base, Components and Settings -->
<script src="{% static 'admin_templates/js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'admin_templates/js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'admin_templates/js/theme.init.js' %}"></script>

<!-- Examples -->
<script src="{% static 'admin_templates/js/examples/examples.header.menu.js' %}"></script>
<script src="{% static 'admin_templates/js/examples/examples.ecommerce.datatables.list.js' %}"></script>

</body>
</html>