# Project exclude paths
*.log
*.pot
*.pyc
*.json
*.iml
*.xml
*.csv
.env
__pycache__
db.sqlite3
media
static
django_cache
venv
debug.*
rsync
/static/admin_templates/vendor/simple-line-icons/node_modules/
celerybeat-schedule
/media_old/
# JetBrains IDE (IntelliJ, PyCharm, WebStorm, etc.)
.idea/