{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">

        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-body">
                        <div class="datatables-header-footer-wrapper">
                            <div class="datatable-header">
                                <div class="row align-items-center mb-3">
                                    {% if user.access_level.guide_access_add %}
                                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                            <a href="{% url 'hrdepartment_app:memo_add' %}"
                                               class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+
                                                Добавить служебную записку </a>
                                        </div>
                                    {% endif %}
                                    {% if user.access_level.guide_access_add %}
                                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                            <a href="{% url 'hrdepartment_app:bpmemo_add' %}"
                                               class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+
                                                Запустить процесс </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                                   style="min-width: 750px;">

                                <thead>
                                <tr>
                                    <th width="4%">№</th>
                                    <th width="15%">Сотрудник</th>
                                    <th width="10%">Должность</th>
                                    <th width="10%">Куда</th>
                                    <th width="15%">Цель</th>
                                    <th width="10%">Период</th>
                                    <th width="8%">Проживание</th>

                                    <th width="10%">Приказ</th>
                                    <th width="18%">Примечание</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in object_list %}

                                    <tr style="color: {% if item.document_accepted %} green  {% else %} {% if item.comments %} blue {% else %} {% if item.order_number %} black {% else %} red {% endif %} {% endif %} {% endif %}" >
                                        <td>
                                            <a href="{% url 'hrdepartment_app:bpmemo_update' item.pk %}"><strong>{{ item.pk }}</strong></a>
                                        </td>
                                        <td>
                                            <a href="{% url 'hrdepartment_app:bpmemo_update' item.pk %}"><strong>{% if item.document.person %}{{ item.document.person }}{% else %}Отсутствует документ{% endif %}</strong></a>
                                        </td>
                                        <td>
                                            <a href="{% url 'hrdepartment_app:bpmemo_update' item.pk %}"><strong>{{ item.document.person.user_work_profile.job }}</strong></a>
                                        </td>
                                        <td>
                                            <span>{% for items in item.document.place_production_activity.all %}{{ items }} {% endfor %}</span>&nbsp;
                                        </td>
                                        <td>
                                            <strong>{{ item.document.purpose_trip }}</strong>
                                        </td>
                                        <td>
                                            <strong>С: {{ item.document.period_from | date:'d-m-Y'}}<br>По: {{ item.document.period_for | date:'d-m-Y'}}</strong>&nbsp;
                                        </td>
                                        <td>
                                            <strong>{{ item.document.get_accommodation_display }}</strong>&nbsp;
                                        </td>

                                        <td>
                                            <strong>№: {{ item.document.order_number }} <br> от: {{ item.document.order_date | date:'d-m-Y'}}</strong>&nbsp;
                                        </td>
                                        <td>
                                            <strong>{{ item.document.comments }}</strong>&nbsp;
                                        </td>
                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="solid mt-5 opacity-4">
                            {% include 'library_app/paginator.html' %}
                            <div class="datatable-footer">
                                <div class="row align-items-center justify-content-between mt-3">
                                    <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                        <div class="d-flex align-items-stretch">
{#                                            ToDo: Тут можно в подвал что то вывести #}
                                        </div>
                                    </div>
                                    <div class="col-lg-auto text-center order-3 order-lg-2">
                                        <div class="results-info-wrapper"></div>
                                    </div>
                                    <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                        <div class="pagination-wrapper"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
{% endblock %}

{% block SpecificPageVendor %}
    <script src="{% static 'admin_templates/vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/datatables/media/js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock %}