{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>

    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->

        <form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            <div class="col-lg-12">
                <h4 class="font-weight-bold text-dark">Приказ № {{ object.document_number }}
                    от {{ object.document_date }}</h4>

                <div class="toggle toggle-primary" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
                    <section class="toggle active">
                        <label>Основные реквизиты</label>
                        <div class="toggle-content">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row text">
                                        <div class="col-lg-12 text-black-50">
                                            <label for="id_document_name">Наименование документа</label>
                                            {{ form.document_name }}
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_document_foundation">Документ основание</label>
                                            {{ form.document_foundation | attr:"onchange=DocumentsChange()"}}
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_document_date">Дата документа</label>
                                            <input type="date" class="form-control form-control-modern"
                                                   name="document_date" value="{{ object.document_date | date:'c' }}"
                                                   id="id_document_date" onchange="DocumentsDateChange()"/>
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_document_number">Номер документа</label>
                                            <input type="text" class="form-control form-control-modern"
                                                   name="document_number" value="{{ object.document_number }}"
                                                   id="id_document_number"/>
                                        </div>
                                    </div>
                                    <div class="row text">
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_access">Уровень доступа</label>
                                            {{ form.access }}
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_validity_period_start">Действителен с:</label>
                                            <input type="date" class="form-control form-control-modern"
                                                   name="validity_period_start"
                                                   value="{{ object.validity_period_start | date:'c' }}"
                                                   id="id_validity_period_start"/>
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_validity_period_end">Действителен по:</label>
                                            <input type="date" class="form-control form-control-modern"
                                                   name="validity_period_end"
                                                   value="{{ object.validity_period_end | date:'c' }}"
                                                   id="id_validity_period_end"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="toggle">
                        <label>Служебная информация</label>
                        <div class="toggle-content">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row text">
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_executor">Исполнитель</label>
                                            <select class="form-control mb-4 form-control-modern"
                                                    name="executor" id="id_executor"
                                                    data-plugin-selectTwo>
                                                <option value="{{ user.pk }}" selected>{{ user }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_employee">Ответственное лицо</label>
                                            {{ form.employee }}
                                        </div>
                                        <div class="col-md-4 text-black-50">
                                            <label for="id_document_order_type">Тип приказа</label>
                                            {{ form.document_order_type }}
                                        </div>
                                    </div>
                                    <div class="row text">
                                        <div class="col-md-4 text-black-50 mt-3">
                                            <label for="id_allowed_placed">Разрешение на публикацию:</label>
                                            <input type="checkbox" class="mt-2"
                                                   name="allowed_placed"
                                                   {% if object.allowed_placed %}checked{% endif %}
                                                   id="id_allowed_placed"/>
                                        </div>
                                        <div class="col-md-4 text-black-50 mt-3">
                                            <label for="id_actuality">Актуальность:</label>
                                            <input type="checkbox" class="mt-2"
                                                   name="actuality" {% if object.actuality %}checked{% endif %}
                                                   id="id_actuality"/>
                                        </div>
                                    </div>
                                    <div class="row text">
                                        <div class="col-sm-12 text-black-50 mt-3">
                                            <label for="id_description">Содержание:</label>
                                            <div class="ck ck-content">
                                                    {{ form.description | safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="toggle">
                        <label>Файл</label>
                        <div class="toggle-content">
                            <div class="form-row">
                                <div class="form-group col mb-3">
                                    <div class="row text">
                                        <div class="col-lg-6 text-black-50">
                                            <label for="id_doc_file">Файл документа:</label>
                                            {% if object.doc_file %}
                                                <span><a href="{{ object.doc_file.url }}">Файл приказа <img
                                                        src="{% static 'Extension/docx.png' %}"></a></span>
                                            {% endif %}
                                        </div>
                                        {#                                    </div>#}
                                        {#                                    <div class="row text">#}
                                        <div class="col-lg-6 text-black-50">
                                            <label for="id_scan_file">Скан приказа:</label>
                                            <input type="file" name="scan_file" class="form-control mb-4"
                                                   id="id_scan_file" accept="*.application/pdf">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row action-buttons">

                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Сохранить
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'hrdepartment_app:order_list' %}"
                       class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Закрыть</a>
                </div>
                {% if user.is_superuser %}
                    <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                        <a href="#"
                           class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                            <i class="bx bx-trash text-4 me-2"></i> Удалить </a>
                    </div>
                {% endif %}
            </div>
        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->
<script type="text/javascript">
        function DocumentsChange() {
            document_foundation = document.getElementById("id_document_foundation").value;
            var validity_period_start = document.getElementById("id_validity_period_start");
            var validity_period_end = document.getElementById("id_validity_period_end");
            //var document_date = document.getElementById("id_document_date");
            $.ajax({
                type: "GET",
                url: '{% url 'hrdepartment_app:order_update' object.pk %}',
                data: {
                    "document_foundation": document_foundation,
                },
                dataType: "json",
                success: function (data) {
                    // any process in data
                    validity_period_start.removeAttribute("value")
                    validity_period_start.setAttribute("value", data['period_from'])
                    $("#id_validity_period_start").trigger("create")
                    validity_period_end.removeAttribute("value")
                    validity_period_end.setAttribute("value", data['period_for'])
                    $("#id_validity_period_end").trigger("create")
                    {#document_date.removeAttribute("value")#}
                    {#document_date.setAttribute("value", data['document_date'])#}
                    {#$("#id_document_date").trigger("create")#}
                    if (data === 'ok') {
                        console.log("success");
                    };
                    DocumentsDateChange();
                },
                failure: function (data) {
                    console.log("failure");
                }
            });
        };
        /**
         * ChangeSelect - изменяет поля Select в приказе: id_access - Общий доступ;
         * id_document_order_type - Личный состав; id_employee - Кирюшкина Ирина Алексеевна
         */
        function ChangeSelect () {
            $('#id_access').val(4).change();
            $('#id_document_order_type').val(2).change();
            var text = 'Кирюшкина Ирина Алексеевна';
            var index = $('#id_employee option:contains('+text+')').val();
            $('#id_employee').val(index).change();
        };
        /**
         * DocumentsDateChange - отправляет на сервер значение даты документа, и получает последний номер приказа
         * за этот день, и номера отмененных приказов.
         * Изменяет placeholder поля document_number, на полученные данные, и вызывает функцию ChangeSelect
         */
        function DocumentsDateChange() {
            document_date = document.getElementById("id_document_date").value;
            var document_number = document.getElementById("id_document_number");
            var access = document.getElementById("id_access");
            $.ajax({
                type: "GET",
                url: '{% url 'hrdepartment_app:order_update' object.pk %}',
                data: {
                    "document_date": document_date,
                },
                dataType: "json",
                success: function (data) {
                    ChangeSelect();
                    document_number.removeAttribute("placeholder")
                    document_number.setAttribute("placeholder", data['document_date'])
                    $("#id_document_number").trigger("create")
                    if (data === 'ok') {
                        console.log("success");
                    }
                },
                failure: function (data) {
                    console.log("failure");
                }
            });
        };
    </script>
{% endblock %}