<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Уведомление об отмене служебной записки.</h3>
<div>Служебная записка: <strong>{{ title }}</strong></div>
<div>С номером приказа № <strong>{{ order_number }}</strong> от <strong>{{ order_date }}</strong></div>
<div>Отменена. Причина отмены: {{ reason_cancellation }}</div>
<div> </div>
<div>Ответственным лицам:</div>
<div>За направление: <strong>{{ person_executor }}</strong></div>
<div>За место проживания: <strong>{{ person_distributor }}</strong></div>
<div>За создание приказа: <strong>{{ person_department_staff }}</strong></div>
<div>Принять к сведению.</div>
</body>
</html>