<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>{{ greetings }} <strong>{{ person }}</strong>!</h3>
<div>Вы направляетесь в служебную поездку в: <strong>{{ place }}</strong></div>
<div>С целью: <strong>{{ purpose_trip }}</strong></div>
<div>Номер приказа о направлении в служебную поездку № <strong>{{ order_number }}</strong> от <strong>{{ order_date }}</strong>
</div>
<div>На <strong>{{ delta}}</strong> с <strong>{{ period_from }}</strong> по <strong>{{ period_for }}</strong>
</div>
<div>Место проживания: <strong>{{ accommodation}}</strong></div>
<div> </div>
<div>Ответственные лица:</div>
<div>За направления в служебную поездку: <strong>{{ person_executor }}</strong></div>
<div>За место проживания: <strong>{{ person_distributor }}</strong></div>
</body>
</html>