{% extends 'customers_app/main.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/pnotify/pnotify.custom.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/pnotify/pnotify.custom.js' %}"></script>

{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        <h1>Детализация пропусков для {{ employee.first_name }} {{ employee.last_name }}</h1>
        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Тип пропуска</th>
            </tr>
            </thead>
            <tbody>
            {% for absence in absences %}
                <tr>
                    <td>{{ absence.report_card_day }}</td>
                    <td>{{ absence.get_record_type_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}