{% extends 'contracts_app/main.html' %}
{% load static %}
{% load custom %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>

{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed" action="#" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <section class="card card-modern card-big-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2-5 col-xl-1-5">
                                    <i class="card-big-info-icon bx bxl-netlify"></i>
                                    <p class="card-big-info-desc">Медицинское направление.</p>
                                </div>
                                <div class="col-lg-3-5 col-xl-4-5">
                                    <div class="form-group row align-items-center pb-3">
                                        <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                               for="id_number">Номер направления</label>
                                        <div class="col-lg-7 col-xl-6">
                                            <input type="text" id="id_number" class="form-control form-control-modern"
                                                   name="number" value="{{ object.number }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center pb-3">
                                        <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                               for="id_person">Сотрудник</label>
                                        <div class="col-lg-7 col-xl-6">
                                            <div class="input-group">
                                                <input type="text" id="id_person"
                                                       class="form-control form-control-modern"
                                                       name="person" value="{{ object.person }}"/>
                                                <span class="input-group-text"><a
                                                        href="{% url 'customers_app:staff_update' object.person.pk %}"><i
                                                        class="bx bx-user text-4"></i></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center pb-3">
                                        <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                               for="id_organisation">Медицинская организация</label>
                                        <div class="col-lg-7 col-xl-6">
                                            <input type="text" id="id_organisation"
                                                   class="form-control form-control-modern"
                                                   name="organisation" value="{{ object.organisation }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center pb-3">
                                        <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                               for="id_working_status">Статус</label>
                                        <div class="col-lg-7 col-xl-6">
                                            <input type="text" id="id_working_status"
                                                   class="form-control form-control-modern"
                                                   name="working_status"
                                                   value="{{ object.get_working_status_display }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center pb-3">
                                        <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                               for="id_harmful">Вредные условия труда</label>
                                        <div class="col-lg-7 col-xl-6">
                                            <select class="form-control form-control-modern" name="harmful"
                                                    data-plugin-selectTwo id="id_harmful">
                                                {% for item in all_harmful %}
                                                    <option value="{{ item.pk }}">{{ item }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center pb-3">
                                        <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                               for="id_medical_direction">Файл направления</label>
                                        <div class="col-lg-7 col-xl-6">
                                            <a href="{{ object.medical_direction.url }}" target="_blank">Открыть
                                                документ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row action-buttons">

                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Сохранить
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'hrdepartment_app:medical_list' %}"
                       class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Закрыть</a>
                </div>
                {% if user.is_superuser %}
                    <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                        <a href="#"
                           class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                            <i class="bx bx-trash text-4 me-2"></i> Удалить </a>
                    </div>
                {% endif %}
            </div>

        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->
{% endblock %}