{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">

        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-body">
                        <div id="id_tables" class="table-responsive">
                            <table class="table table-ecommerce-simple table-striped mb-0" id="id_datatable"
                                       style="min-width: 1000px; display: block; height: 700px; overflow: auto;">
                                <tbody>
                                <tr>
                                    <td style="border-style:solid; border-width: 1px;height:90.75pt;width:22pt;"
                                        rowspan="2">
                                        №
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;width:144pt;" rowspan="2">
                                        ФИО
                                    </td>

                                    <td style="border-style:solid; border-width: 1px;border-left-style:none;width:651pt;"
                                        colspan="32">
                                        &nbsp;
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;width:62pt;" colspan="2">
                                        Итого за месяц
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;width:37pt;" rowspan="2">
                                        Количество неявок, дней (часов);
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;width:63pt;" rowspan="2">
                                        Количество выходных и праздничных дней
                                    </td>
                                </tr>
                                <tr>
                                    {% for key, value in all_dict.items %}
                                        {% if forloop.first %}
                                            {% for item1, item2, item3 in value %}
                                                <td style="border-style:solid; border-width: 1px;height:48.75pt;width:20pt;">
                                                    {{ item1 | date:"d" }}
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <td style="border-style:solid; border-width: 1px;width:31pt;">
                                        Итого
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;width:26pt;">
                                        дней
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;width:36pt;">
                                        часов
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-style:solid; border-width: 1px;height:11.1pt;">
                                        1
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;border-top-style:none;">
                                        2
                                    </td>

                                    <td style="border-style:solid; border-width: 1px;" colspan="15">
                                        4
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;" colspan="16">
                                        5
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;">
                                        6
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;">
                                        7
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;">
                                        8
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;">
                                        9
                                    </td>
                                    <td style="border-style:solid; border-width: 1px;">
                                        10
                                    </td>
                                </tr>
                                {% for key, value in all_dict.items %}
                                    <tr>
                                        <td style="border-style:solid; border-width: 1px;height:22.5pt;" rowspan="2">
                                            {{ forloop.counter }}
                                        </td>
                                        <td style="border-style:solid; border-width: 1px;width:144pt;" rowspan="2">
                                            {{ key }}
                                        </td>
                                        {% for item1, item2, item3 in value %}
                                            <td style="{% if item2 == 'В' %}background-color:#D9D9D9;{% endif %}border-style:solid; border-width: 1px;">
                                                {{ item2 }}
                                            </td>
                                        {% endfor %}
                                        <td style="border-style:solid; border-width: 1px;">
                                            3,00
                                        </td>
                                        <td style="background-color:#D9D9D9;border-style:solid; border-width: 1px;"
                                            rowspan="2">
                                            11,00
                                        </td>
                                        <td style="background-color:#D9D9D9;border-style:solid; border-width: 1px;"
                                            rowspan="2">
                                            94,88
                                        </td>
                                        <td style="background-color:#D9D9D9;border-style:solid; border-width: 1px;"
                                            style="border-left-style:none;">
                                            0,00
                                        </td>
                                        <td style="background-color:#D9D9D9;border-style:solid; border-width: 1px;"
                                            rowspan="2">
                                            11,00
                                        </td>
                                    </tr>
                                    <tr>
                                        {% for item1, item2, item3 in value %}
                                            <td style="border-style:solid; border-width: 1px;height:11.25pt;">
                                                {{ item3 }}
                                            </td>
                                        {% endfor %}
                                        <td style="border-style:solid; border-width: 1px;">
                                            26,21
                                        </td>
                                        <td style="border-style:solid; border-width: 1px;">
                                            0,00
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="solid mt-5 opacity-4">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
{% endblock %}

{% block custome_script %}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            var table = $('#datatable-ecommerce-list').DataTable({#}
    {#                "scrollX": true,#}
    {#                "sDom": 'T<"clear">lfrtip',#}
    {#                "ajax": "{% url 'hrdepartment_app:reportcard_list' %}",#}
    {#                "language": {#}
    {#                    "url": "{% static 'admin_templates/vendor/datatables/media/Russian.json' %}"#}
    {#                },#}
    {#                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {#}
    {#                    var id = aData['pk'];#}
    {#                    $(nRow).attr("href", id + '/update/');#}
    {#                    $(nRow).css('cursor', 'pointer');#}
    {#                    $(nRow).click(function () {#}
    {#                        window.location = $(this).attr('href');#}
    {#                        return false;#}
    {#                    });#}
    {#                },#}
    {#                "columns": [#}
    {#                    {"data": "report_card_day"},#}
    {#                    {"data": "employee"},#}
    {#                    {"data": "start_time"},#}
    {#                    {"data": "end_time"},#}
    {#                ],#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}