{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">
        <style>
            .table-ecommerce-simple {
                overflow-x: auto;
                position: relative;
            }

            .table-ecommerce-simple th {
                position: -webkit-sticky;
                position: sticky;
                top: -3px;
            / / при нуле в chrome остаётся странный зазор z-index: 2;
            }
        </style>
        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <div class="row">
            <div class="col">
                <div class="card card-modern">
                    <form action="{% url 'hrdepartment_app:reportcard_detail_fact' %}" method="get">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                                <select class="form-control select-style-1 filter-by" name="report_month"
                                        id="id_report_month">
                                    {% for key, value in month_dict.items %}
                                        <option value="{{ key }}"
                                                {% if current_month == key %}selected{% endif %}> {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                                <select class="form-control select-style-1 filter-by" name="report_year"
                                        id="id_report_year">
                                    {% for key, value in year_dict.items %}
                                        <option value="{{ key }}"
                                                {% if current_year == key %}selected{% endif %}> {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <input type="submit"
                                       class="submit btn btn-success btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"
                                       value="Сформировать"/>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card card-modern">
                    <div class="card-body">
                        <h5>Табель учета рабочего времени за {{ tabel_month | date:"M Y" }} г. (Норма
                            дней: {{ norm_day }}; Норма часов: {{ norm_time }})</h5>
                        <div id="id_tables" class="table-responsive">
                            {{ table | safe }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
{% endblock %}

{% block custome_script %}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            var table = $('#datatable-ecommerce-list').DataTable({#}
    {#                "scrollX": true,#}
    {#                "sDom": 'T<"clear">lfrtip',#}
    {#                "ajax": "{% url 'hrdepartment_app:reportcard_list' %}",#}
    {#                "language": {#}
    {#                    "url": "{% static 'admin_templates/vendor/datatables/media/Russian.json' %}"#}
    {#                },#}
    {#                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {#}
    {#                    var id = aData['pk'];#}
    {#                    $(nRow).attr("href", id + '/update/');#}
    {#                    $(nRow).css('cursor', 'pointer');#}
    {#                    $(nRow).click(function () {#}
    {#                        window.location = $(this).attr('href');#}
    {#                        return false;#}
    {#                    });#}
    {#                },#}
    {#                "columns": [#}
    {#                    {"data": "report_card_day"},#}
    {#                    {"data": "employee"},#}
    {#                    {"data": "start_time"},#}
    {#                    {"data": "end_time"},#}
    {#                ],#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}