{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">

        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-body">
                        <div class="datatables-header-footer-wrapper">
                            <div class="datatable-header">
                            </div>

                            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                                   style="min-width: 750px;">
                                <tbody>
                                <tr>
                                    <td colspan="4"><h4>Выполнение графика по сотрудникам</h4></td>
                                </tr>
                                <tr>
                                    <td colspan="4">За период с: {{ first_day }} по: {{ last_day }}</td>
                                </tr>
                                {% for key, value in data_dict.items %}
                                    <tr>
                                        <td colspan="2">{{ key }}</td>
                                        <td>Табельный номер</td>
                                        <td>{{ key.pk }}</td>
                                    </tr>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Нормы</th>
                                        <th>Табель</th>
                                        <th>Факт</th>
                                    </tr>
                                    {% for r1, r2, r3, r4, r5 in value %}
                                        <tr>
                                            <td>{{ r1 }}</td>
                                            <td><span
                                                    {% if r4 == '-' %}style="color: #ff0000"{% endif %}>{{ r4 }} {{ r5 }}</span>
                                            </td>
                                            <td>9:30-18:00</td>
                                            <td>{{ r2 }}-{{ r3 }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>Итого:</th>
                                        <th>{{ total_sign }}{{ total_score }}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        <table style="border-style:dashed;">
        <tbody>
            <tr>
                <td style="height:90.75pt;width:22pt;" rowspan="2">
                    Номер по порядку
                </td>
                <td style="width:144pt;" rowspan="2">
                    Фамилия, инициалы, должность (специальность, профессия)
                </td>
                <td style="border-bottom:.5pt solid black;width:14pt;" rowspan="2">
                    Табельный номер
                </td>
                <td style="border-left-style:none;width:651pt;" colspan="32">
                    &nbsp;
                </td>
                <td style="border-left-style:none;width:62pt;" colspan="2">
                    Итого отработано за месяц
                </td>
                <td style="width:37pt;" rowspan="2">
                    Количество неявок, дней (часов);
                </td>
                <td style="width:63pt;" rowspan="2">
                    Количество выходных и праздничных дней
                </td>
            </tr>
            <tr>
                <td style="border-left-style:none;border-top-style:none;height:48.75pt;width:20pt;">
                    1
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    2
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    3
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    4
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    5
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    6
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    7
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    8
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    9
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    10
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    11
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    12
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    13
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    14
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    15
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    16
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    17
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    18
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    19
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    20
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    21
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    22
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    23
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    24
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    25
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    26
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    27
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    28
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    29
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    30
                </td>
                <td style="border-left-style:none;border-top-style:none;width:20pt;">
                    31
                </td>
                <td style="border-left-style:none;border-top-style:none;width:31pt;">
                    Итого
                </td>
                <td style="border-left-style:none;border-top-style:none;width:26pt;">
                    дней
                </td>
                <td style="border-left-style:none;border-top-style:none;width:36pt;">
                    часов
                </td>
            </tr>
            <tr>
                <td style="border-top-style:none;height:11.1pt;">
                    1
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    2
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    3
                </td>
                <td style="border-left-style:none;" colspan="15">
                    4
                </td>
                <td style="border-left-style:none;" colspan="16">
                    5
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    6
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    7
                </td>
                <td style="border-left-style:none;">
                    8
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    9
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    10
                </td>
            </tr>
            <tr>
                <td style="height:22.5pt;" rowspan="2">
                    1
                </td>
                <td style="width:144pt;" rowspan="2">
                    Алексеева Ольга Игоревна&nbsp;
                    <br>
                    Старший инспектор по кадрам
                </td>
                <td rowspan="2">
                    &nbsp;
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="border-left-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    РВ
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    РВ
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="background-color:#D9D9D9;border:.5pt solid black;">
                    В
                </td>
                <td style="border-left-style:none;">
                    3,00
                </td>
                <td rowspan="2">
                    11,00
                </td>
                <td rowspan="2">
                    94,88
                </td>
                <td style="border-left-style:none;">
                    0,00
                </td>
                <td rowspan="2">
                    11,00
                </td>
            </tr>
            <tr>
                <td style="border-left-style:none;border-top-style:none;height:11.25pt;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,93
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,57
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,93
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    7,60
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,88
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,90
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,28
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,58
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,58
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,70
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    8,93
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    26,21
                </td>
                <td style="border-left-style:none;border-top-style:none;">
                    0,00
                </td>
            </tr>
        </tbody>
    </table>

                            <hr class="solid mt-5 opacity-4">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
{% endblock %}

{% block custome_script %}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            var table = $('#datatable-ecommerce-list').DataTable({#}
    {#                "scrollX": true,#}
    {#                "sDom": 'T<"clear">lfrtip',#}
    {#                "ajax": "{% url 'hrdepartment_app:reportcard_list' %}",#}
    {#                "language": {#}
    {#                    "url": "{% static 'admin_templates/vendor/datatables/media/Russian.json' %}"#}
    {#                },#}
    {#                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {#}
    {#                    var id = aData['pk'];#}
    {#                    $(nRow).attr("href", id + '/update/');#}
    {#                    $(nRow).css('cursor', 'pointer');#}
    {#                    $(nRow).click(function () {#}
    {#                        window.location = $(this).attr('href');#}
    {#                        return false;#}
    {#                    });#}
    {#                },#}
    {#                "columns": [#}
    {#                    {"data": "report_card_day"},#}
    {#                    {"data": "employee"},#}
    {#                    {"data": "start_time"},#}
    {#                    {"data": "end_time"},#}
    {#                ],#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}