{% extends 'customers_app/main.html' %}
{% load i18n %}
{% load static %}
{% load custom %}
{% load widget_tweaks %}
{% block custome_css %}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>#}
    {#    <link rel="stylesheet"#}
    {#          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>#}
    {#    <link rel="stylesheet"#}
    {#          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>#}
{% endblock %}

{% block custome_script %}
    {#    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>#}
    {#    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>#}
    {#    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>#}


{% endblock %}
{% block SpecificPageVendor %}
{#    <script src="{% static 'admin_templates/vendor/jquery/jquery.formset.js' %}"></script>#}
        <script>
            $(document).ready(function() {
    const addFormButton = $('#add-reportcard-form');
    const formList = $('#reportcard-form-list');
    const totalFormsField = $('[name="report_cards-TOTAL_FORMS"]');

    let formCount = parseInt(totalFormsField.val(), 10);

    addFormButton.on('click', function() {
        const newForm = createNewReportCardForm(formCount);
        formList.append(newForm);
        totalFormsField.val(formCount + 1);
        formCount++;
    });

    formList.on('click', '.remove-form-row', function() {
        $(this).closest('.reportcard-form').remove();
        totalFormsField.val(formCount - 1);
        formCount--;
    });

    function createNewReportCardForm(index) {
        const newForm = `
            <tr class="reportcard-form">
                <td>${createSelectField('employee', index)}</td>
                <td><input type="time" class="form-control form-control-modern" name="report_cards-${index}-start_time" id="id_report_cards-${index}-start_time"></td>
                <td><input type="time" class="form-control form-control-modern" name="report_cards-${index}-end_time" id="id_report_cards-${index}-end_time"></td>
                <td><input type="number" class="form-control form-control-modern" name="report_cards-${index}-lunch_time" id="id_report_cards-${index}-lunch_time"></td>
                <td><input type="number" class="form-control form-control-modern" name="report_cards-${index}-flight_hours" id="id_report_cards-${index}-flight_hours"></td>
                <td>${createMultipleSelectField('outfit_card', index)}</td>
                <td><input type="text" class="form-control form-control-modern" name="report_cards-${index}-additional_work" id="id_report_cards-${index}-additional_work"></td>
                <td><button type="button" class="btn btn-danger btn-sm remove-form-row">Удалить</button></td>
            </tr>
        `;
        return $(newForm);
    }

    function createSelectField(fieldName, index) {
        const selectField = `
            <select name="report_cards-${index}-${fieldName}" id="id_report_cards-${index}-${fieldName}" class="form-control form-control-modern">
                {% for choice in form.fields.employee.choices %}
                <option class="select2-selection__rendered" value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        `;
        return selectField;
    }

    function createMultipleSelectField(fieldName, index) {
        const multipleSelectField = `
            <select name="report_cards-${index}-${fieldName}" class="form-control form-control-modern select2" id="id_report_cards-${index}-${fieldName}" data-select2-id="id_report_cards-${index}-${fieldName}" data-plugin-selecttwo multiple>
                {% for choice in form.fields.outfit_card.iterator %}
                <option value="{{ choice.0 }}" data-select2-id="42">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        `;
        return multipleSelectField;
    }
});

        </script>
    <script src="{% static 'admin_templates/vendor/jquery36/jquery-3.6.0.js' %}"></script>
{#    <script src="{% static 'admin_templates/js/timesheet_form.js' %}"></script>#}
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <style>
            /* Скрыть элемент по умолчанию */
            .mobile-only {
                display: none;
            }

            /* Показать элемент только на мобильных устройствах */
            @media (max-width: 767px) {
                .mobile-only {
                    display: inline;
                }
            }

            th:nth-child(1), td:nth-child(1) {
                width: 20%;
            }

            th:nth-child(2), td:nth-child(2) {
                width: 5%;
            }

            th:nth-child(3), td:nth-child(3) {
                width: 5%;
            }

            th:nth-child(4), td:nth-child(4) {
                width: 5%;
            }

            th:nth-child(5), td:nth-child(5) {
                width: 5%;
            }

            th:nth-child(6), td:nth-child(6) {
                width: 20%;
            }

            th:nth-child(7), td:nth-child(7) {
                width: 40%;
            }

            @media (max-width: 576px) {
                .table-responsive-sm {
                    display: block;
                    width: 100%;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                }

                .table-responsive-sm table {
                    width: 100%;
                }

                .table-responsive-sm th,
                .table-responsive-sm td {
                    display: block;
                    width: 100%;
                    text-align: left;
                }

                .table-responsive-sm th {
                    font-weight: bold;
                }

                .table-responsive-sm td::before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-right: 10px;
                }
            }
        </style>

        <!-- start: page -->
<div class="container">
    <h1>{% if object %}Редактировать{% else %}Создать{% endif %} Табель учета рабочего времени</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>

        <h2>Записи ReportCard</h2>
        {{ reportcard_formset.management_form }}
        <table class="table">
            <thead>
                <tr>
                    <th>Сотрудник</th>
                    <th>Время прихода</th>
                    <th>Время ухода</th>
                    <th>Время обеда</th>
                    <th>Летные часы</th>
                    <th>Оперативные работы</th>
                    <th>Дополнительные работы</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody id="reportcard-form-list">
                {% for form in reportcard_formset %}
                <tr class="reportcard-form">
                    <td>{{ form.employee }}</td>
                    <td>{{ form.start_time }}</td>
                    <td>{{ form.end_time }}</td>
                    <td>{{ form.lunch_time }}</td>
                    <td>{{ form.flight_hours }}</td>
                    <td>{{ form.outfit_card }}</td>
                    <td>{{ form.additional_work }}</td>
                    <td>
                        {% if form.instance.pk %}
                        <button type="button" class="btn btn-danger btn-sm remove-form-row">Удалить</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" id="add-reportcard-form" class="btn btn-primary">Добавить запись</button>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>


        <!-- end: page -->
    </section>

    <!-- end: page -->
{% endblock %}
