{% load static %}
<div class="d-none d-md-block">
    <h4 class="mb-3 mt-0 font-weight-semibold text-dark">Статистика портала</h4>
    <ul class="simple-card-list mb-3">
        <li class="primary">
            <h4>{{ sp }} - Активных, {{ spf }} - Отменено</h4>
            <p class="text-light"><a href="{% url 'hrdepartment_app:memo_list' %}" title="Список служебных записок"
                                     style="color: #FFFFFF; text-decoration: none"><b>Служебных записок</b></a></p>
        </li>
        <li class="primary">
            <h4>{{ bp }} - Активных, {{ bpf }} - Отменено</h4>
            <p class="text-light"><a href="{% url 'hrdepartment_app:bpmemo_list' %}" title="Список служебных записок"
                                     style="color: #FFFFFF; text-decoration: none"><b>Запущено бизнес-процессов</b></a>
            </p>
        </li>
        <li class="primary">
            <h4>{{ contract }}</h4>
            <p class="text-light"><a href="{% url 'contracts_app:index' %}" title="Список служебных записок"
                                     style="color: #FFFFFF; text-decoration: none"><b>Договоров в базе</b></a></p>
        </li>
    </ul>
</div>
<div class="d-none d-md-block">
    <h4 class="mb-3 mt-4 pt-2 font-weight-semibold text-dark">Проекты в работе</h4>
    <ul class="simple-bullet-list mb-3">
        <li class="red">
            <span class="title">Раздел договоров</span>
            <span class="description truncate">Ведётся подгрузка файлов.</span>
        </li>
        <li class="green">
            <span class="title">Раздел документации</span>
            <span class="description truncate">Должностные инструкции. Дорабатывается процесс заведения документов.</span>
            <span class="description truncate">Руководящие документы. Дорабатывается процесс заведения документов.</span>
        </li>
        <li class="blue">
            <span class="title">Раздел ЭДО</span>
            <span class="description truncate">Приступил к разработке блока логистики (отправка/прием посылок на/с МПД).</span>
        </li>
    </ul>
</div>