{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/pdfjs/pdf.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed"
              action="#" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <section class="card card-modern card-big-info">
                        <div class="card-body">
                            <div class="tabs-modern row" style="min-height: 490px;">
                                <div class="col-lg-2-5 col-xl-1-5">
                                    <div class="nav flex-column" id="tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="general-tab" data-bs-toggle="pill"
                                           data-bs-target="#general" role="tab" aria-controls="general"
                                           aria-selected="true"><i class="bx bx-cog me-2"></i> Реквизиты</a>
                                        <a class="nav-link" id="usage-restriction-tab" data-bs-toggle="pill"
                                           data-bs-target="#usage-restriction" role="tab"
                                           aria-controls="usage-restriction" aria-selected="false"><i
                                                class="bx bx-block me-2"></i> Контакты</a>
{#                                        <a class="nav-link" id="usage-limits-tab" data-bs-toggle="pill"#}
{#                                           data-bs-target="#usage-limits" role="tab" aria-controls="usage-limits"#}
{#                                           aria-selected="false"><i class="bx bx-timer me-2"></i> Контактные лица</a>#}
                                    </div>
                                </div>
                                <div class="col-lg-3-5 col-xl-4-5">
                                    <div class="tab-content" id="tabContent">
                                        <div class="tab-pane fade show active" id="general" role="tabpanel"
                                             aria-labelledby="general-tab">
                                            <h3 class="mb-2" style="text-align: center;">Физическое лицо</h3>
                                            <div class="form-group row align-items-center pb-3">                                                
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">ФИО</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_short_name" name="short_name"#}
{#                                                           value="{{ object.short_name }}"/>#}
                                                    {{ form.natural_person }}
                                                </div>
                                            </div>
                                            <hr>
                                            <h3 class="mb-2" style="text-align: center;">Юридическое лицо</h3>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Полное
                                                    наименование</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_full_name" name="full_name"#}
{#                                                           value="{{ object.full_name }}"/>#}
                                                    {{ form.full_name }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Краткое
                                                    наименование</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_short_name" name="short_name"#}
{#                                                           value="{{ object.short_name }}"/>#}
                                                    {{ form.short_name }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">ИНН</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_inn" name="inn" value="{{ object.inn }}" required/>#}
                                                    {{ form.inn }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">КПП</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_kpp" name="kpp" value="{{ object.kpp }}" required/>#}
                                                    {{ form.kpp }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">ОГРН</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_ogrn" name="ogrn" value="{{ object.ogrn }}"/>#}
                                                    {{ form.ogrn }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="usage-restriction" role="tabpanel"
                                             aria-labelledby="usage-restriction-tab">
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Тип
                                                    контрагента</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <select class="form-control form-control-modern"#}
{#                                                            id="id_type_counteragent" name="type_counteragent"#}
{#                                                            data-plugin-selectTwo>#}
{#                                                        {% for key, value in type_counteragent %}#}
{#                                                            <option value="{{ key }}">{{ value }}</option>#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
                                                    {{ form.type_counteragent }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Юридический
                                                    адрес</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <textarea type="text" class="form-control form-control-modern"#}
{#                                                              id="id_juridical_address" name="juridical_address"#}
{#                                                              rows="3">{{ object.juridical_address }}</textarea>#}
                                                    {{ form.juridical_address }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Физический
                                                    адрес</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <textarea type="text" class="form-control form-control-modern"#}
{#                                                              id="id_physical_address" name="physical_address"#}
{#                                                              rows="3">{{ object.physical_address }}</textarea>#}
                                                    {{ form.physical_address }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Email</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_email" name="email" value="{{ object.email }}"/>#}
                                                    {{ form.email  }}
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Корпоративный
                                                    номер телефона</label>
                                                <div class="col-lg-7 col-xl-6">
{#                                                    <input type="text" class="form-control form-control-modern"#}
{#                                                           id="id_phone" name="phone" value="{{ object.phone }}"/>#}
                                                    {{ form.phone   }}
                                                </div>
                                            </div>
                                        </div>
{#                                        <div class="tab-pane fade" id="usage-limits" role="tabpanel"#}
{#                                             aria-labelledby="usage-limits-tab">#}
{#                                            <div class="form-group row align-items-center  pb-3">#}
{#                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Директор</label>#}
{#                                                <div class="col-lg-7 col-xl-6">#}
{#                                                    <select class="form-control form-control-modern"#}
{#                                                            id="id_director" name="director">#}
{#                                                        <option value="none" selected>-------</option>#}
{#                                                        {% for item in counteragent_users %}#}
{#                                                            {% if item == object.director %}#}
{#                                                                <option value="{{ item.pk }}"#}
{#                                                                        selected>{{ item }}</option>#}
{#                                                            {% else %}#}
{#                                                                <option value="{{ item.pk }}">{{ item }}</option>#}
{#                                                            {% endif %}#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group row align-items-center  pb-3">#}
{#                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Главный#}
{#                                                    бухгалтер</label>#}
{#                                                <div class="col-lg-7 col-xl-6">#}
{#                                                    <select class="form-control form-control-modern"#}
{#                                                            id="id_accountant" name="accountant">#}
{#                                                        <option value="none" selected>-------</option>#}
{#                                                        {% for item in counteragent_users %}#}
{#                                                            {% if item == object.accountant %}#}
{#                                                                <option value="{{ item.pk }}"#}
{#                                                                        selected>{{ item }}</option>#}
{#                                                            {% else %}#}
{#                                                                <option value="{{ item.pk }}">{{ item }}</option>#}
{#                                                            {% endif %}#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group row align-items-center">#}
{#                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Контактное#}
{#                                                    лицо</label>#}
{#                                                <div class="col-lg-7 col-xl-6">#}
{#                                                    <select class="form-control form-control-modern"#}
{#                                                            name="contact_person" id="id_contact_person">#}
{#                                                        <option value="none" selected>-------</option>#}
{#                                                        {% for item in counteragent_users %}#}
{#                                                            {% if item == object.contact_person %}#}
{#                                                                <option value="{{ item.pk }}"#}
{#                                                                        selected>{{ item }}</option>#}
{#                                                            {% else %}#}
{#                                                                <option value="{{ item.pk }}">{{ item }}</option>#}
{#                                                            {% endif %}#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row action-buttons">
                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="btn btn-outline-success btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Сохранить
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'customers_app:counteragent_list' %}"
                       class="btn btn-outline-dark btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class='bx bx-log-out-circle text-4 me-2' ></i> Закрыть </a>
                </div>
                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                    <a href="#"
                       class="btn btn-outline-danger btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class="bx bx-trash text-4 me-2"></i> Удалить
                    </a>
                </div>
            </div>
        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->

{% endblock %}