<!doctype html>
{% load i18n %}
{% load static %}
{% load custom %}

<html class="fixed" lang="ru">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <meta name="keywords" content="BARKOL"/>
    <meta name="description" content="Корпоративный сайт ООО Авиакомпания 'БАРКОЛ'">
    <meta name="author" content="tyrrannt">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/hover/hover.css' %}" />
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/animate/animate.compat.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/font-awesome/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/boxicons/css/boxicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/magnific-popup/magnific-popup.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/datatables/media/css/dataTables.bootstrap5.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'admin_templates/css/content-styles.css' %}"  type="text/css"/>#}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/pnotify/pnotify.custom.css' %}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/jstree/themes/default/style.css' %}" />
    <link rel="stylesheet" href="{% static 'admin_templates/css/theme.css' %}"/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/css/skins/default.css' %}"/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'admin_templates/css/custom.css' %}"/>

    {% block custome_css %}
    {% endblock %}
    <!-- Head Libs -->
    <script src="{% static 'admin_templates/vendor/modernizr/modernizr.js' %}"></script>

</head>
<body class="loading-overlay-showing" data-loading-overlay>
<div class="loading-overlay" id="LoadingOverlayApi">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<section class="body">

    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <a href="{% if user.is_superuser %}/bklproxmoxadmin/{% else %}/users/profile/{{ user.pk }}/{% endif %}" class="logo">
                <img src="{% static 'admin_templates/img/logo.png' %}" height="35" alt="Панель администрирования"/>
            </a>

            <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                 data-fire-event="sidebar-left-opened">
                <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
            </div>

        </div>

        <!-- start: search & user box -->
        <div class="header-right">

            <form action="#" class="search nav-form">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Поиск...">
                    <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                </div>
            </form>

            <span class="separator"></span>

            {% include 'library_app/notifications.html' %}

            <span class="separator"></span>

            {% include 'library_app/user-dropdown-menu.html' %}

        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">
            <!-- Левое меню -->
            {% include 'library_app/left_menu.html' %}
        </aside>
        <!-- end: sidebar -->
        <!-- БЛОК КОНТЕНТА -->
        {% block content %}
        {% endblock %}
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <!-- Правое меню -->
        {% include 'library_app/right_menu.html' %}
    </aside>

</section>

<!-- Vendor -->
<script src="{% static 'admin_templates/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin_templates/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'admin_templates/vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js' %}" charset="UTF-8"></script>
<script src="{% static 'admin_templates/vendor/common/common.js' %}"></script>
<script src="{% static 'admin_templates/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'admin_templates/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'admin_templates/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>


<!-- Specific Page Vendor -->
<script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/media/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js' %}"></script>
<script src="{% static 'admin_templates/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js' %}"></script>
<script src="{% static 'admin_templates/vendor/ios7-switch/ios7-switch.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
{% block custome_script %}
{% endblock %}

<!-- Specific Page Vendor -->
<script src="{% static 'admin_templates/vendor/pnotify/pnotify.custom.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'admin_templates/js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'admin_templates/js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'admin_templates/js/theme.init.js' %}"></script>

<!-- Examples -->
{#<script src="{% static 'admin_templates/js/examples/examples.header.menu.js' %}"></script>#}
<script id="myAdminSpinnerScript" src="{% static 'admin_templates/js/examples/examples.loading.overlay.js' %}"></script>
{% block SpecificPageVendor %}
{% endblock %}

</body>
</html>