{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_templates/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'admin_templates/vendor/dropzone/dropzone.css' %}"/>
{% endblock %}

{% block custome_script %}
    <script src="{% static 'admin_templates/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/pdfjs/pdf.js' %}"></script>
    <script src="{% static 'admin_templates/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <section role="main" class="content-body content-body-modern mt-0">
        {% include 'library_app/breadcrumb.html' %}
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>: {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed" action="{% url 'customers_app:staff_update' object.pk %}"
              method="post" prefix="main" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <section class="card card-modern card-big-info">
                        <div class="card-body">
                            <div class="tabs-modern row" style="min-height: 490px;">
                                <div class="col-lg-2-5 col-xl-1-5">
                                    <div class="nav flex-column" id="tab" role="tablist" aria-orientation="vertical">
                                        <div class="thumb-info mb-3">
                                            {% if object.avatar %}
                                                <img src="{{ object.avatar.url }}" class="rounded img-fluid"
                                                     alt="{{ object.username }}">
                                            {% else %}
                                                <img src="{% static 'admin_templates/img/!logged-user.jpg' %}"
                                                     class="rounded img-fluid"
                                                     alt="{{ object.username }}">
                                            {% endif %}
                                            <div class="thumb-info-title">
                                                <span class="thumb-info-inner">{{ object.last_name }} {{ object.first_name }}</span>
                                                {#                                                <span class="thumb-info-type">{{ object.user_work_profile.job }}</span>#}
                                            </div>
                                        </div>
                                        <a class="nav-link active" id="general-tab" data-bs-toggle="pill"
                                           data-bs-target="#general" role="tab" aria-controls="general"
                                           aria-selected="true"><i class="bx bx-cog me-2"></i> Личные данные</a>
                                        <a class="nav-link" id="usage-restriction-tab" data-bs-toggle="pill"
                                           data-bs-target="#usage-restriction" role="tab"
                                           aria-controls="usage-restriction" aria-selected="false"><i
                                                class="bx bx-block me-2"></i> Контактные данные</a>
                                        <a class="nav-link" id="personal-profile-tab" data-bs-toggle="pill"
                                           data-bs-target="#personal-profile" role="tab"
                                           aria-controls="personal-profile"
                                           aria-selected="false"><i class="bx bxs-user-check me-2"></i> Личный
                                            профиль</a>
                                        <a class="nav-link" id="usage-limits-tab" data-bs-toggle="pill"
                                           data-bs-target="#usage-limits" role="tab" aria-controls="usage-limits"
                                           aria-selected="false"><i class="bx bxs-buildings me-2"></i> Рабочий
                                            профиль</a>
                                    </div>
                                </div>
                                <div class="col-lg-3-5 col-xl-4-5">
                                    <div class="tab-content" id="tabContent">
                                        <div class="tab-pane fade show active" id="general" role="tabpanel"
                                             aria-labelledby="general-tab">
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Фамилия</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="last_name" id="id_last_name"
                                                           value="{{ object.last_name|empty_item }}"
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Имя</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="first_name" id="id_first_name"
                                                           value="{{ object.first_name|empty_item }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Отчество</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="surname" id="id_surname"
                                                           value="{{ object.surname|empty_item }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">День
                                                    рождения</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="date" class="form-control form-control-modern"
                                                           name="birthday" id="id_birthday"
                                                           placeholder="Данные отсутствуют..."
                                                           value="{{ object.birthday|date:"c" }}"
                                                           data-plugin-datepicker
                                                           data-plugin-options='{"orientation": "bottom", "format": "yyyy-mm-dd"}'/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Пол</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <select name="gender" id="id_gender"
                                                            class="form-control form-control-modern">
                                                        <option value="none" selected>-------</option>
                                                        {% for key, value in all_gender %}
                                                            {% if key == object.gender %}
                                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                            {% else %}
                                                                <option value="{{ key }}">{{ value }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Фотография</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="file" class="form-control form-control-modern"
                                                           name="avatar" id="id_avatar"
                                                           placeholder="Данные отсутствуют..."
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="usage-restriction" role="tabpanel"
                                             aria-labelledby="usage-restriction-tab">
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Тип
                                                    пользователя</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <select name="type_users" id="id_type_users"
                                                            class="form-control form-control-modern">
                                                        <option value="none" selected>-------</option>
                                                        {% for key, value in all_type_user %}
                                                            {% if key == object.type_users %}
                                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                            {% else %}
                                                                <option value="{{ key }}">{{ value }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Адрес</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <textarea type="text" class="form-control form-control-modern"
                                                              name="address" id="id_address"
                                                              rows="3">{{ object.address|empty_item }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Email</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="email" class="form-control form-control-modern"
                                                           name="email" id="id_email"
                                                           value="{{ object.email|empty_item }}"/>
                                                </div>
                                            </div>
                                            {% if user|has_group:"password" %}
                                                <div class="form-group row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Email
                                                        pass</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        <input type="text" class="form-control form-control-modern"
                                                               name="work_email_password" id="id_work_email_password"
                                                               value="{{ object.user_work_profile.work_email_password|empty_item }}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Статус
                                                        активности</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        {{ form.is_active }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if user.is_superuser %}
                                                <div class="form-group row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Статус
                                                        персонала</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        {{ form.is_staff }}
                                                    </div>
                                                </div>
                                                <div class="form-group row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Статус
                                                        суперпользователя</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        {{ form.is_superuser }}
                                                    </div>
                                                </div>
                                                <div class="form-group row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Права
                                                        доступа</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        {{ form.user_access }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Номер
                                                    телефона</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="personal_phone" id="id_personal_phone"
                                                           value="{{ object.personal_phone|empty_item }}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="personal-profile" role="tabpanel"
                                             aria-labelledby="personal-profile-tab">
                                            <div class="form-group row align-items-center  pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Гражданство</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <select name="citizenship" id="id_citizenship"
                                                            class="form-control form-control-modern">
                                                        <option value="none" selected>-------</option>
                                                        {% for item in all_citizenship %}
                                                            {% if item == object.user_profile.citizenship %}
                                                                <option value="{{ item.pk }}"
                                                                        selected>{{ item }}</option>
                                                            {% else %}
                                                                <option value="{{ item.pk }}">{{ item }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Серия</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        <input type="text" class="form-control form-control-modern"
                                                               name="series" id="id_series"
                                                               value="{{ object.user_profile.passport.series|empty_item }}"/>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Номер</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        <input type="text" class="form-control form-control-modern"
                                                               name="number" id="id_number"
                                                               value="{{ object.user_profile.passport.number|empty_item }}"/>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Кем
                                                        выдан</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        <textarea type="text" class="form-control form-control-modern"
                                                                  name="issued_by_whom" id="id_issued_by_whom"
                                                                  rows="4">{{ object.user_profile.passport.issued_by_whom|empty_item }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Дата
                                                        выдачи</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        <input type="date" class="form-control form-control-modern"
                                                               name="date_of_issue" id="id_date_of_issue"
                                                               value="{{ object.user_profile.passport.date_of_issue|date:"c" }}"
                                                               data-plugin-datepicker
                                                               data-plugin-options='{"orientation": "bottom", "format": "yyyy-mm-dd"}'/>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center pb-3">
                                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Код
                                                        подразделения</label>
                                                    <div class="col-lg-7 col-xl-6">
                                                        <input type="text" class="form-control form-control-modern"
                                                               name="division_code" id="id_division_code"
                                                               value="{{ object.user_profile.passport.division_code|empty_item }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center  pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">СНИЛС</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="snils" id="id_snils"
                                                           value="{{ object.user_profile.snils|empty_item }}"
                                                           placeholder="999-999-999 99"/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Полис
                                                    ОМС</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="oms" id="id_oms"
                                                           value="{{ object.user_profile.oms|empty_item }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">ИНН</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="inn" id="id_inn"
                                                           value="{{ object.user_profile.inn|empty_item }}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="usage-limits" role="tabpanel"
                                             aria-labelledby="usage-limits-tab">
                                            <div class="form-group row align-items-center  pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Дата
                                                    приема на работу</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="date" class="form-control form-control-modern"
                                                           name="date_of_employment" id="id_date_of_employment"
                                                           value="{{ object.user_work_profile.date_of_employment|date:"c" }}"
                                                           placeholder="Данные отсутствуют..."
                                                           data-plugin-datepicker
                                                           data-plugin-options='{"orientation": "bottom", "format": "yyyy-mm-dd"}'/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center  pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Подразделение</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <select name="divisions" id="id_divisions"
                                                            class="form-control form-control-modern">
                                                        <option value="none" selected>-------</option>
                                                        {% for item in all_division %}
                                                            {% if item == object.user_work_profile.divisions %}
                                                                <option value="{{ item.pk }}"
                                                                        selected>{{ item }}</option>
                                                            {% else %}
                                                                <option value="{{ item.pk }}">{{ item }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center  pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Должность</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <select name="job" id="id_job"
                                                            class="form-control form-control-modern">
                                                        <option value="none" selected>-------</option>
                                                        {% for item in all_job %}
                                                            {% if item == object.user_work_profile.job %}
                                                                <option value="{{ item.pk }}"
                                                                        selected>{{ item }}</option>
                                                            {% else %}
                                                                <option value="{{ item.pk }}">{{ item }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Внутренний
                                                    номер телефона</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control form-control-modern"
                                                           name="internal_phone" id="id_internal_phone"
                                                           value="{{ object.user_work_profile.internal_phone|empty_item }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Время
                                                    прихода</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="time" class="form-control form-control-modern"
                                                           name="personal_work_schedule_start"
                                                           id="id_personal_work_schedule_start"
                                                           value="{{ object.user_work_profile.personal_work_schedule_start | time:"H:i" }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center pb-3">
                                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Время
                                                    ухода</label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="time" class="form-control form-control-modern"
                                                           name="personal_work_schedule_end"
                                                           id="id_personal_work_schedule_end"
                                                           value="{{ object.user_work_profile.personal_work_schedule_end | time:"H:i" }}"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row action-buttons">
                <div class="col-12 col-md-auto">
                    <button type="submit"
                            class="btn btn-outline-success btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Сохранить
                    </button>
                </div>
                <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                    <a href="{% url 'customers_app:staff_list' %}"
                       class="btn btn-outline-dark btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class='bx bx-log-out-circle text-4 me-2'></i> Закрыть </a>
                </div>
                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                    <a href="#"
                       class="btn btn-outline-danger btn-px-4 py-3 d-flex
                           align-items-center font-weight-semibold line-height-1">
                        <i class="bx bx-trash text-4 me-2"></i> Удалить
                    </a>
                </div>
            </div>
        </form>
        <!-- end: page -->
    </section>
    <!-- end: page -->

{% endblock %}