{% extends 'customers_app/main.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body">
{#        <header class="page-header">#}
{#            <h2>Профиль пользователя</h2>#}
{##}
{#            <div class="right-wrapper text-end">#}
                {#                <ol class="breadcrumbs">#}
                {#                    <li>#}
                {#                        <a href="index.html">#}
                {#                            <i class="bx bx-home-alt"></i>#}
                {#                        </a>#}
                {#                    </li>#}
                {##}
                {#                    <li><span>Pages</span></li>#}
                {##}
                {#                    <li><span>User Profile</span></li>#}
                {##}
                {#                </ol>#}
{#                {% include 'library_app/breadcrumb.html' %}#}
{##}
{#                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>#}
{#            </div>#}
{#        </header>#}

        <!-- start: page -->

        <div class="row">
            <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">

                <section class="card">
                    {% include 'customers_app/block_personal_info.html' %}
                </section>
                {% if user.is_superuser %}
                    <section class="card">
                        <header class="card-header">
                            <div class="card-actions">
                                <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                            </div>

                            <h2 class="card-title">
                                <span class="badge badge-primary label-sm font-weight-normal va-middle me-3">298</span>
                                <span class="va-middle">Friends</span>
                            </h2>
                        </header>
                        <div class="card-body">
                            <div class="content">
                                <ul class="simple-user-list">
                                    <li>
                                        <figure class="image rounded">
                                            <img src="{% static 'admin_templates/img/!sample-user.jpg' %}"
                                                 alt="Joseph Doe Junior" class="rounded-circle">
                                        </figure>
                                        <span class="title">Joseph Doe Junior</span>
                                        <span class="message truncate">Lorem ipsum dolor sit.</span>
                                    </li>
                                    <li>
                                        <figure class="image rounded">
                                            <img src="{% static 'admin_templates/img/!sample-user.jpg' %}"
                                                 alt="Joseph Junior" class="rounded-circle">
                                        </figure>
                                        <span class="title">Joseph Junior</span>
                                        <span class="message truncate">Lorem ipsum dolor sit.</span>
                                    </li>
                                    <li>
                                        <figure class="image rounded">
                                            <img src="{% static 'admin_templates/img/!sample-user.jpg' %}"
                                                 alt="Joe Junior"
                                                 class="rounded-circle">
                                        </figure>
                                        <span class="title">Joe Junior</span>
                                        <span class="message truncate">Lorem ipsum dolor sit.</span>
                                    </li>
                                    <li>
                                        <figure class="image rounded">
                                            <img src="{% static 'admin_templates/img/!sample-user.jpg' %}"
                                                 alt="Joseph Doe Junior" class="rounded-circle">
                                        </figure>
                                        <span class="title">Joseph Doe Junior</span>
                                        <span class="message truncate">Lorem ipsum dolor sit.</span>
                                    </li>
                                </ul>
                                <hr class="dotted short">
                                <div class="text-end">
                                    <a class="text-uppercase text-muted" href="#">(View All)</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <input type="text" class="form-control" name="s" id="s" placeholder="Поиск...">
                                <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                            </div>
                        </div>
                    </section>

                    <section class="card">
                        <header class="card-header">
                            <div class="card-actions">
                                <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                            </div>

                            <h2 class="card-title">Popular Posts</h2>
                        </header>
                        <div class="card-body">
                            <ul class="simple-post-list">
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <img src="{% static 'admin_templates/img/post-thumb-1.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                                        <div class="post-meta">
                                            Jan 10, 2021
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <img src="{% static 'admin_templates/img/post-thumb-2.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <a href="#">Vitae Nibh Un Odiosters</a>
                                        <div class="post-meta">
                                            Jan 10, 2021
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <img src="{% static 'admin_templates/img/post-thumb-3.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <a href="#">Odiosters Nullam Vitae</a>
                                        <div class="post-meta">
                                            Jan 10, 2021
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                {% endif %}
            </div>
            <div class="col-lg-8 col-xl-6">

                <div class="tabs">
                    <ul class="nav nav-tabs tabs-primary">
                        <li class="nav-item">
                            <button class="nav-link" data-bs-target="#overview" data-bs-toggle="tab">Лента событий
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-target="#calculation" data-bs-toggle="tab">Расчетный
                                листок
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active">
                            <div class="p-3">
                                <h4 class="mb-3 font-weight-semibold text-dark">Статус обновления</h4>
                                <section class="simple-compose-box mb-3">
                                    <form method="get" action="/">
                                        <textarea name="message-text" data-plugin-textarea-autosize
                                                  placeholder="О чем ты думаешь?" rows="1"></textarea>
                                    </form>
                                    <div class="compose-box-footer">
                                        <ul class="compose-toolbar">
                                            <li>
                                                <a href="#"><i class="fas fa-camera"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                            </li>
                                        </ul>
                                        <ul class="compose-btn">
                                            <li>
                                                <a href="#" class="btn btn-primary btn-xs">Post</a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>

                                <h4 class="mb-3 pt-4 font-weight-semibold text-dark">Хронология</h4>

                                <div class="timeline timeline-simple mt-3 mb-3">
                                    <div class="tm-body">
                                        <div class="tm-title">
                                            <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">
                                                {% now "d - m - Y г." %}</h5>
                                        </div>
                                        <ol class="tm-items">
                                            {#ToDo: Доработать вывод постов#}
                                            {% for item in posts %}
                                                {% for items in item.post_divisions.iterator %}
                                                    {% if items == databaseuser.divisions %}
                                                        <li>
                                                            <div class="tm-box">
                                                                <p class="text-muted mb-0">{{ item.creation_date }}</p>
                                                                <p>
                                                                    {{ item.post_description }}
                                                                </p>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="calculation" class="tab-pane">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-3">
                                        <select class="form-control select-style-1 filter-by" name="filter_month"
                                                onchange="filter_date()" id="id_filter_month">
                                            <option value="1" {% if current_month == 1 %}selected{% endif %}>Январь
                                            </option>
                                            <option value="2" {% if current_month == 2 %}selected{% endif %}>Февраль
                                            </option>
                                            <option value="3" {% if current_month == 3 %}selected{% endif %}>Март
                                            </option>
                                            <option value="4" {% if current_month == 4 %}selected{% endif %}>Апрель
                                            </option>
                                            <option value="5" {% if current_month == 5 %}selected{% endif %}>Май
                                            </option>
                                            <option value="6" {% if current_month == 6 %}selected{% endif %}>Июнь
                                            </option>
                                            <option value="7" {% if current_month == 7 %}selected{% endif %}>Июль
                                            </option>
                                            <option value="8" {% if current_month == 8 %}selected{% endif %}>Август
                                            </option>
                                            <option value="9" {% if current_month == 9 %}selected{% endif %}>Сентябрь
                                            </option>
                                            <option value="10" {% if current_month == 10 %}selected{% endif %}>Октябрь
                                            </option>
                                            <option value="11" {% if current_month == 11 %}selected{% endif %}>Ноябрь
                                            </option>
                                            <option value="12" {% if current_month == 12 %}selected{% endif %}>Декабрь
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <select class="form-control select-style-1 filter-by" name="filter_year"
                                                onchange="filter_date()" id="id_filter_year">
                                            <option value="2020" {% if current_year == 2020 %}selected{% endif %}>2020
                                            </option>
                                            <option value="2021" {% if current_year == 2021 %}selected{% endif %}>2021
                                            </option>
                                            <option value="2022" {% if current_year == 2022 %}selected{% endif %}>2022
                                            </option>
                                            <option value="2023" {% if current_year == 2023 %}selected{% endif %}>2023
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="password" id="id_pxmx" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="id_accrued">

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="id_withheld">

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="id_paid">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                {% include 'customers_app/block_statistics.html' %}
            </div>

        </div>
        <!-- end: page -->
    </section>
{% endblock %}