{% extends 'customers_app/main.html' %}
{% load static %}
{% load custom %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <section role="main" class="content-body content-body-modern mt-0">

        {% include 'library_app/breadcrumb.html' %}

        <!-- start: page -->
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-body">
                        <div class="datatables-header-footer-wrapper">
                            <div class="datatable-header">
                                <div class="row align-items-center mb-3">
                                    {% if user.is_superuser %}
                                        <div class="col-auto mb-2">
                                            <label>
                                                <input type="date" class="form-control" id="control_date"
                                                       name="control_date">
                                            </label>
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <!-- Содержимое элемента -->
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <!-- Содержимое элемента -->
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <!-- Содержимое элемента -->
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <!-- Содержимое элемента -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=0"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-cog text-4 me-2'></i> Выдать общие права</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=1"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-reset text-4 me-2'></i> Обновить права</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=2"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-cog text-4 me-2'></i> Установить права всем
                                                        пользователям - Общие</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="#" id="update-timecontrol"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-sync text-4 me-2'></i> Обновить данные с
                                                        TimeControl</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=4"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-reset text-4 me-2'></i> Обновить пароли</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=5"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-capsule text-4 me-2'></i> Больничные</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=6"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-cog text-4 me-2'></i> День рождения</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=7"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-sync text-4 me-2'></i> Обновить данные по
                                                        медосмотрам</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=8"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1" id="submit_time_off">
                                                        <i class='bx bx-sync text-4 me-2'></i> Обновить данные по
                                                        отгулам</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=9"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-check-double text-4 me-2'></i> Проверка
                                                        договоров на
                                                        ошибки</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=10"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1"
                                                       id="submit_vacation">
                                                        <i class='bx bx-sync text-4 me-2'></i> Обновить данные по
                                                        отпускам</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=11"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bxs-report text-4 me-2'></i> Годовой отчет</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=12"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-group text-4 me-2'></i> Группы</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=13"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex 
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-cloud-download text-4 me-2'></i> Выгрузить
                                                        модель в файл</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=14"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-group text-4 me-2'></i> Рассылка графика
                                                        отпусков</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=15"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-group text-4 me-2'></i> Заполнение графика
                                                        отпусков</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=16"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex
                                                align-items-center font-weight-semibold line-height-1">
                                                        <i class='bx bx-group text-4 me-2'></i> Выгрузка данных для
                                                        Kerio Connect</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=17"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex
                                                align-items-center font-weight-semibold line-height-1"
                                                    id="submit_vacation_schedule">
                                                        <i class='bx bx-group text-4 me-2'></i> Перенос графика
                                                        отпусков в табель учета</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=18"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex
                                                align-items-center font-weight-semibold line-height-1"
                                                    id="submit_vacation_schedule">
                                                        <i class='bx bx-group text-4 me-2'></i> Проверка доп документов
                                                    договоров</a>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 px-2 mt-3 mt-0">
                                                    <a href="{% url 'administration_app:property_list' %}?update=19"
                                                       class="btn btn-outline-primary btn-px-4 py-3 d-flex
                                                align-items-center font-weight-semibold line-height-1"
                                                    id="submit_vacation_schedule">
                                                        <i class='bx bx-group text-4 me-2'></i> Рассылка графика
                                                        отпусков (admin)</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                            <select name="grops" id="id_groups"
                                                    class="form-control form-control-modern">
                                                {% for item in Group %}
                                                    <option value="{{ item.pk }}">{{ item }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                                   style="min-width: 750px;">

                                <thead>
                                <tr>
                                    <th width="40%">Название портала</th>
                                    <th width="30%">Пагинация по умолчанию</th>
                                    <th width="30%">Длительность сессии</th>
                                </tr>
                                </thead>
                            </table>


                            <hr class="solid mt-5 opacity-4">

                            <div class="datatable-footer">
                                <div class="row align-items-center justify-content-between mt-3">
                                    <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                        <div class="d-flex align-items-stretch">
                                            {#                                            ToDo: Тут можно в подвал что то вывести #}
                                        </div>
                                    </div>
                                    <div class="col-lg-auto text-center order-3 order-lg-2">
                                        <div class="results-info-wrapper"></div>
                                    </div>
                                    <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                        <div class="pagination-wrapper"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>

{% endblock %}

{% block custome_script %}
    <script>
        document.getElementById('update-timecontrol').addEventListener('click', function (event) {
            event.preventDefault(); // Предотвращаем переход по ссылке

            // Получаем значение даты из поля ввода
            var controlDate = document.getElementById('control_date').value;

            // Формируем URL с учетом параметра control_date
            var baseUrl = "{% url 'administration_app:property_list' %}";
            var newUrl = baseUrl + "?update=3&control_date=" + encodeURIComponent(controlDate);

            // Перенаправляем пользователя на новый URL
            window.location.href = newUrl;
        });
    </script>
        <script>
        document.getElementById('submit_vacation_schedule').addEventListener('click', function (event) {
            // Предотвращаем стандартное поведение ссылки
            event.preventDefault();

            // Получаем значение из input с id="control_date"
            const controlDate = document.getElementById('control_date').value;

            // Определяем год: если дата не указана, используем текущий год
            let year;
            if (controlDate) {
                year = new Date(controlDate).getFullYear();
            } else {
                year = new Date().getFullYear(); // Текущий год
            }

            // Получаем текущий URL из атрибута href
            let currentUrl = this.href;

            // Добавляем параметр "year" к URL
            if (currentUrl.includes('?')) {
                currentUrl += `&year=${year}`;
            } else {
                currentUrl += `?year=${year}`;
            }

            // Переходим по обновленному URL
            window.location.href = currentUrl;
        });
    </script>
    <script>
        document.getElementById('submit_vacation').addEventListener('click', function (event) {
            // Предотвращаем стандартное поведение ссылки
            event.preventDefault();

            // Получаем значение из input с id="control_date"
            const controlDate = document.getElementById('control_date').value;

            // Определяем год: если дата не указана, используем текущий год
            let year;
            if (controlDate) {
                year = new Date(controlDate).getFullYear();
            } else {
                year = new Date().getFullYear(); // Текущий год
            }

            // Получаем текущий URL из атрибута href
            let currentUrl = this.href;

            // Добавляем параметр "year" к URL
            if (currentUrl.includes('?')) {
                currentUrl += `&year=${year}`;
            } else {
                currentUrl += `?year=${year}`;
            }

            // Переходим по обновленному URL
            window.location.href = currentUrl;
        });
    </script>
    <script>
        document.getElementById('submit_time_off').addEventListener('click', function (event) {
            // Предотвращаем стандартное поведение ссылки
            event.preventDefault();

            // Получаем значение из input с id="control_date"
            const controlDate = document.getElementById('control_date').value;

            // Определяем год: если дата не указана, используем текущий год
            let year;
            if (controlDate) {
                year = new Date(controlDate).getFullYear();
            } else {
                year = new Date().getFullYear(); // Текущий год
            }

            // Получаем текущий URL из атрибута href
            let currentUrl = this.href;

            // Добавляем параметр "year" к URL
            if (currentUrl.includes('?')) {
                currentUrl += `&year=${year}`;
            } else {
                currentUrl += `?year=${year}`;
            }

            // Переходим по обновленному URL
            window.location.href = currentUrl;
        });
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable-ecommerce-list').DataTable({
                "sDom": 'T<"clear">lfrtip',
                "ajax": "{% url 'administration_app:property_list' %}",
                "language": {
                    "url": "{% static 'admin_templates/vendor/datatables/media/Russian.json' %}"
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var id = aData['pk'];
                    $(nRow).attr("href", id + '/update/');
                    $(nRow).css('cursor', 'pointer');
                    $(nRow).click(function () {
                        window.location = $(this).attr('href');
                        return false;
                    });
                },
                "columns": [
                    {"data": "portal_name"},
                    {"data": "portal_paginator"},
                    {"data": "portal_session"},
                ],
            });
        });

    </script>
{% endblock %}